Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, Infrastructure, Application, Attribute, Cart, Category, Order, Product, Review

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 30%
        threshold: 10%
        informational: true
      business-logic:
        target: 60%
        threshold: 5%
        informational: true
        paths:
          - internal/domain/
          - internal/service/
    patch:
      informational: true
component_management:
  individual_components:
    - component_id: business-logic
      name: Business Logic
      paths:
        - internal/domain/
        - internal/service/
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - internal/infrastructure/
    - component_id: application
      name: Application
      paths:
        - cmd/
        - internal/application/
        - internal/client/
        - internal/delivery/
        - internal/server/
        - pkg/
    - component_id: attribute
      name: Attribute
      paths:
        - internal/*attribute*
    - component_id: Cart
      name: Cart
      paths:
        - internal/*cart*
    - name: Category
      paths:
        - internal/*category*
    - name: Order
      paths:
        - internal/*order*
    - name: Product
      paths:
        - internal/*product*
    - name: Review
      paths:
        - internal/*review*
ignore:
  - test/
  - docs/
  - internal/**/*_test.go
  - internal/**/*_mock.go
  - "**/*.sql.go"
  - "**/wire.go"

fix(sql): filter left join but not doing anything with that
  database/queries/order.sql
  database/queries/product.sql
  internal/infrastructure/repositorypostgres/sqlc/order.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
Due: none

fix(sql): search category nothing?
  database/queries/category.sql
  internal/infrastructure/repositorypostgres/sqlc/category.sql.go
Due: none

fix(seed): min price of product + rating
  database/seed.sql
Due: none

fix(sql/product): exist in variant?
  database/queries/product.sql
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
Due: none

fix(sql/product): category..
  database/queries/product.sql
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
Due: none

feat: get role in realm role
  internal/delivery/http/middlewareroleimpl.go
Due: Application

feat: add flush cache endpoint
  docs/docs.go
  internal/delivery/http/handlerflushcache.go
  internal/delivery/http/handlerflushcacheredis.go
  internal/delivery/http/router.go
  internal/delivery/http/server.go
  internal/di/wire.go
  internal/di/wire_gen.go
Due: Application

fix: wrong endpoint bla
  .gitignore
  docs/docs.go
  internal/delivery/http/handlerattributeimpl.go
Due: Application

feat(order): add recipientName and phoneNumber field
  docs/docs.go
  internal/application/order.go
  internal/delivery/http/orderrequestdto.go
  internal/delivery/http/orderresponsedto.go
  internal/domain/order.go
Due: Business Logic, Application

fix(infra): add order fields
  database/queries/order.sql
  database/schema.sql
  internal/infrastructure/repositorypostgres/order.go
  internal/infrastructure/repositorypostgres/sqlc/models.go
  internal/infrastructure/repositorypostgres/sqlc/order.sql.go
Due: Infrastructure

feat(gin): cors origin
  config/server.go
  go.mod
  go.sum
  internal/delivery/http/server.go
  mise.toml
Due: Application

build(migration): update migration [skip ci]
  migration/20251205040842.sql
  migration/atlas.sum
Due: none

fix(sql): seed to match with required order
  database/seed.sql
Due: none

chore(config): env read vnpay first
  config/server.go
Due: none

fix: allow credential in cors
  internal/delivery/http/server.go
Due: Application

fix(cors): allow methods
  internal/delivery/http/server.go
Due: Application

fix(cors): use default config
  internal/delivery/http/server.go
Due: Application

fix(cors): again??
  internal/delivery/http/server.go
Due: Application

fix: wrong endpoint name
  internal/delivery/http/router.go
Due: Application

fix(attribute): listing duplicate attribute
  database/queries/attribute.sql
  internal/infrastructure/repositorypostgres/sqlc/attribute.sql.go
Due: none

feat: govnpay fork added
  .gitignore
  .gitmodules
  go.work
Due: none

ci(main): checkout submodules
  .github/workflows/main.yaml
Due: none

fix(go): use current package
  go.work
Due: none

feat: update govnpay
  go.work.sum
Due: none

chore(keycloak): increase sso
  terraform/keycloak/main.tf
Due: none

feat: go mod download
  go.work.sum
Due: none

feat: integrate vnpay
  docs/docs.go
  go.mod
  go.sum
  internal/application/order.go
  internal/application/vnpaypaymentservice.go
  internal/delivery/http/error.go
  internal/delivery/http/handlerorder.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/orderapplication.go
  internal/delivery/http/orderrequestdto.go
  internal/delivery/http/orderresponsedto.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/cart.go
  internal/domain/product.go
  internal/infrastructure/paymentservice/vnpay.go
Due: Business Logic, Infrastructure, Application

fix(minio): adding ssl
  terraform/minio/providers.tf
  terraform/minio/terraform.tfvars
  terraform/minio/variables.tf
Due: none

fix: call wrong client api
  internal/infrastructure/objectstorages3/s3product.go
Due: Infrastructure

chore: run go mod
  go.mod
Due: none

ci(main): couldn't cache docker image
  .github/workflows/main.yaml
Due: none

chore: trick implement method struct with pointer nil
  internal/application/attribute.go
  internal/application/cart.go
  internal/application/category.go
  internal/application/order.go
  internal/application/review.go.bak
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/handlercategoryimpl.go
  internal/delivery/http/handlerhealthimpl.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/handlerproductimpl.go
  internal/delivery/http/handlerreviewimpl.go.bak
  internal/delivery/http/middlewareauthimpl.go
  internal/delivery/http/middlewareloggingimpl.go
  internal/delivery/http/middlewaremetricimpl.go
  internal/delivery/http/middlewareroleimpl.go
  internal/service/attribute.go
  internal/service/cart.go
  internal/service/category.go
  internal/service/order.go
  internal/service/product.go
  internal/service/review.go.bak
Due: Business Logic, Application

refactor(test): component, pointer
  test/integration/application/attribute_test.go
  test/integration/component/containers.go
Due: none

test(integration): add cache test for attribute, and category test
  test/integration/application/attribute_test.go
  test/integration/application/category_test.go
Due: none

ci(main): rename the test to integration test
  .github/workflows/main.yaml
Due: none

chore: remove unused service attribute
  internal/domain/attributeservice.go
  internal/service/attribute.go
Due: Business Logic

fix(product-image): save the url created by key
  docs/docs.go
  internal/application/product.go
  internal/delivery/http/productrequestdto.go
  internal/di/wire_gen.go
Due: Application

chore(redis-client): do not check nil
  internal/infrastructure/cacheredis/attribute.go
  internal/infrastructure/cacheredis/cart.go
  internal/infrastructure/cacheredis/category.go
  internal/infrastructure/cacheredis/error.go
  internal/infrastructure/cacheredis/product.go
Due: Infrastructure

fix(s3product): use key to move image
  internal/application/product.go
  internal/application/productobjectstorage.go
  internal/infrastructure/objectstorages3/s3product.go
Due: Infrastructure, Application

test: note the template of report
  docs/testing/attribute.md
  docs/testing/template.md
  docs/testing/whitebox-template-guidance.md
  test/integration/application/attribute_test.go
  test/integration/application/category_test.go
Due: none
