Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, domain, Infrastructure, Application

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 30%
        threshold: 10%
        informational: true
      business-logic:
        target: 60%
        threshold: 5%
        informational: true
        paths:
          - internal/domain/
          - internal/infrastructure/
          - internal/di/
    patch:
      informational: true
component_management:
  individual_components:
    - component_id: business-logic
      name: Business Logic
      paths:
        - internal/domain/
        - internal/infrastructure/
        - internal/di/
    - component_id: Domain
      name: domain
      paths:
        - internal/domain/
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - internal/infrastructure/
        - internal/di/
    - component_id: application
      name: Application
      paths:
        - internal/application/
        - internal/interface/
        - internal/server/
        - cmd/
        - pkg/
ignore:
  - test/
  - docs/
  - internal/**/*_test.go
  - internal/**/*_mock.go
  - "**/wire.go"

feat: implement the product handler
  docs/docs.go
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/handlerproductimpl.go
  internal/delivery/http/helper.go
Due: none

chore(gitattributes): exclude seed
  .gitattributes
Due: none

feat: on going product
  internal/application/productimpl.go
  internal/domain/productservice.go
  internal/service/product.go
Due: Business Logic, domain, Application

feat: doing product
  .nvim.lua
  database/queries/attribute.sql
  database/queries/cart.sql
  database/queries/category.sql
  database/queries/option.sql
  database/queries/product.sql
  database/schema-temporary.sql
  database/schema.sql
  docker/compose.yaml
  docs/docs.go
  internal/application/attributeimpl.go
  internal/application/categoryimpl.go
  internal/application/productimpl.go
  internal/application/productparam.go
  internal/client/validate.go
  internal/delivery/http/handlerproductimpl.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/attribute.go
  internal/domain/product.go
  internal/domain/productrepository.go
  internal/domain/productrepository_mock.go
  internal/domain/productservice.go
  internal/domain/productvalidator.go
  internal/infrastructure/objectstorages3/s3product.go
  internal/infrastructure/repositorypostgres/cart.go
  internal/infrastructure/repositorypostgres/category.go
  internal/infrastructure/repositorypostgres/order.go
  internal/infrastructure/repositorypostgres/product.go
  internal/infrastructure/repositorypostgres/review.go
  internal/infrastructure/repositorypostgres/sqlc/attribute.sql.go
  internal/infrastructure/repositorypostgres/sqlc/cart.sql.go
  internal/infrastructure/repositorypostgres/sqlc/category.sql.go
  internal/infrastructure/repositorypostgres/sqlc/copyfrom.go
  internal/infrastructure/repositorypostgres/sqlc/models.go
  internal/infrastructure/repositorypostgres/sqlc/option.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
  internal/infrastructure/repositorypostgres/sqlc/querier.go
  internal/service/product.go
Due: Business Logic, domain, Infrastructure, Application

refactor: let AI move those service into the struct itself
  internal/application/attributeimpl.go
  internal/application/categoryimpl.go
  internal/application/productimpl.go
  internal/domain/attribute.go
  internal/domain/attributeservice.go
  internal/domain/category.go
  internal/domain/categoryservice.go
  internal/service/attribute.go
  internal/service/category.go
Due: Business Logic, domain, Application

refactor: AI move them too far
  internal/application/attributeimpl.go
  internal/application/categoryimpl.go
  internal/application/productimpl.go
  internal/domain/attribute.go
  internal/domain/attributeservice.go
  internal/domain/category.go
  internal/domain/product.go
  internal/domain/productservice.go
  internal/service/attribute.go
  internal/service/product.go
Due: Business Logic, domain, Application

docs(AI): maybe test...
  .rules/006-testing.md
  codecompanion-workspace.json
Due: none

test: ok let's AI cook
  .rules/006-testing.md
  docs/testing/attribute.md
  docs/testing/template.md
  internal/client/validate.go
  internal/domain/attribute.go
  internal/domain/attribute_test.go
  internal/domain/attributevalidator.go
  internal/domain/attributevalidator_test.go
  internal/infrastructure/repositorypostgres/attribute_test.go
  internal/service/attribute_test.go
Due: Business Logic, domain

fix(database): seed with right trigger
  database/seed.sql
  database/trigger.sql
  docker/compose.yaml
Due: none

fix(repo/product): missing querying image create at
  internal/infrastructure/repositorypostgres/product.go
Due: Business Logic, Infrastructure

refactor: domain ref IDs not other aggregate child
  internal/application/cartimpl.go
  internal/application/orderimpl.go
  internal/application/productimpl.go
  internal/application/reviewimpl.go
  internal/delivery/http/cartrequestdto.go
  internal/delivery/http/orderrequestdto.go
  internal/domain/cart.go
  internal/domain/cartservice.go
  internal/domain/order.go
  internal/domain/orderservice.go
  internal/domain/product.go
  internal/domain/review.go
  internal/domain/reviewservice.go
  internal/infrastructure/repositorypostgres/attribute_test.go.bak
  internal/infrastructure/repositorypostgres/product.go
  internal/service/cart.go
  internal/service/order.go
  internal/service/review.go
Due: Business Logic, domain, Infrastructure, Application

feat: product may be done
  database/queries/attribute.sql
  database/queries/category.sql
  database/queries/product.sql
  docker/compose.yaml
  docs/docs.go
  internal/application/attributecache.go
  internal/application/attributeimpl.go
  internal/application/categorycache.go
  internal/application/categoryimpl.go
  internal/application/productcache.go
  internal/application/productimpl.go
  internal/delivery/http/attributeapplication.go
  internal/delivery/http/attributeresponsedto.go
  internal/delivery/http/categoryapplication.go
  internal/delivery/http/categoryresponsedto.go
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/handlercategoryimpl.go
  internal/delivery/http/handlerproductimpl.go
  internal/delivery/http/handlerreviewimpl.go
  internal/delivery/http/productapplication.go
  internal/delivery/http/productresponsedto.go
  internal/delivery/http/router.go
  internal/domain/attributerepository.go
  internal/domain/attributerepository_mock.go
  internal/domain/categoryrepository.go
  internal/domain/categoryrepository_mock.go
  internal/domain/product.go
  internal/infrastructure/cacheredis/attribute.go
  internal/infrastructure/cacheredis/category.go
  internal/infrastructure/cacheredis/product.go
  internal/infrastructure/repositorypostgres/attribute.go
  internal/infrastructure/repositorypostgres/category.go
  internal/infrastructure/repositorypostgres/sqlc/attribute.sql.go
  internal/infrastructure/repositorypostgres/sqlc/category.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
  internal/infrastructure/repositorypostgres/sqlc/querier.go
  justfile
Due: Business Logic, domain, Infrastructure, Application

fix(database/seed): duplicate attribute value with product
  database/seed.sql
Due: none

chore: comment out the helper
  internal/infrastructure/repositorypostgres/helper.go
Due: Business Logic, Infrastructure

chore: let it test pass
  internal/domain/attribute_test.go
  internal/service/attribute_test.go
Due: none

Revert "chore: comment out the helper"
  internal/infrastructure/repositorypostgres/helper.go
Due: Business Logic, Infrastructure

chore(golangci): set the severity to info for unused and lll
  .golangci.yaml
Due: none

ci(swagger): no need check to deploy static
  .github/workflows/main.yaml
Due: none

feat: cart but still on gooing
  docs/docs.go
  internal/application/cartcache.go
  internal/application/cartimpl.go
  internal/client/db.go
  internal/delivery/http/cartapplication.go
  internal/delivery/http/cartrequestdto.go
  internal/delivery/http/cartresponsedto.go
  internal/delivery/http/commonresponsedto.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/router.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/cart.go
  internal/domain/cartrepository.go
  internal/domain/cartrepository_mock.go
  internal/infrastructure/cacheredis/cart.go
  internal/infrastructure/cacheredis/constant.go
  internal/infrastructure/repositorypostgres/cart.go
Due: Business Logic, domain, Infrastructure, Application

feat: done cart
  .lazy.lua
  database/queries/cart.sql
  database/queries/product.sql
  docker/compose.yaml
  docs/docs.go
  http/auth.http
  internal/application/cartimpl.go
  internal/application/productimpl.go
  internal/delivery/http/cartrequestdto.go
  internal/delivery/http/cartresponsedto.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/helper.go
  internal/delivery/http/router.go
  internal/di/wire_gen.go
  internal/domain/cart.go
  internal/domain/cartservice.go
  internal/domain/productrepository.go
  internal/domain/productrepository_mock.go
  internal/infrastructure/repositorypostgres/cart.go
  internal/infrastructure/repositorypostgres/product.go
  internal/infrastructure/repositorypostgres/sqlc/cart.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
  internal/service/cart.go
  justfile
  keycloak/electricilies-realm-export.json
  script/keycloak-sed-user-id.sh
  sqlc.yaml
Due: Business Logic, domain, Infrastructure, Application

feat(cart): add validator
  internal/client/validate.go
  internal/domain/attribute_test.go
  internal/domain/attributevalidator.go
  internal/domain/cart.go
  internal/domain/cartvalidator.go
Due: Business Logic, domain

ci(main): let it run without test :v
  .github/workflows/main.yaml
Due: none

refactor(product): validator
  internal/client/validate.go
  internal/domain/product.go
  internal/domain/productvalidator.go
Due: Business Logic, domain

chore(mcphub): language server mcp
  .mcphub/servers.json
Due: none

feat(order): cool the application
  internal/application/order.go
  internal/delivery/http/cartresponsedto.go
  internal/delivery/http/orderapplication.go
  internal/delivery/http/orderresponsedto.go
Due: Application

fix: sql bad
  .golangci.yaml
  database/queries/attribute.sql
  database/queries/category.sql
  database/queries/option.sql
  database/queries/order.sql
  database/queries/product.sql
  database/queries/review.sql
  database/schema-temporary.sql
  internal/di/wire_gen.go
  internal/domain/attributevalidator_test.go
  internal/infrastructure/cacheredis/constant.go
  internal/infrastructure/repositorypostgres/helper.go
  internal/infrastructure/repositorypostgres/order.go
  internal/infrastructure/repositorypostgres/sqlc/attribute.sql.go
  internal/infrastructure/repositorypostgres/sqlc/category.sql.go
  internal/infrastructure/repositorypostgres/sqlc/copyfrom.go
  internal/infrastructure/repositorypostgres/sqlc/models.go
  internal/infrastructure/repositorypostgres/sqlc/option.sql.go
  internal/infrastructure/repositorypostgres/sqlc/order.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
  internal/infrastructure/repositorypostgres/sqlc/querier.go
  internal/infrastructure/repositorypostgres/sqlc/review.sql.go
Due: Business Logic, Infrastructure

fix(sql): aoshfasdf
  database/queries/category.sql
  database/queries/product.sql
  internal/infrastructure/repositorypostgres/product.go
  internal/infrastructure/repositorypostgres/sqlc/category.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
Due: Business Logic, Infrastructure

fix(order/sql): missing checking null cast
  database/queries/order.sql
  docs/docs.go
  internal/application/order.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/orderrequestdto.go
  internal/infrastructure/repositorypostgres/order.go
  internal/infrastructure/repositorypostgres/sqlc/order.sql.go
  sqlc.yaml
Due: Business Logic, Infrastructure, Application

chore(order): annotate swaggo the response dto
  docs/docs.go
  internal/delivery/http/handlerorderimpl.go
Due: none

chore(codecov): flag and more components
  .codecov.yml
  .github/workflows/main.yaml
  README.md
Due: none

chore(atlas): no input seed
  atlas.hcl
Due: none

chore: adsf
  internal/domain/order.go
  internal/service/product.go
Due: Business Logic, domain

fix: some
  database/schema.sql
  database/seed.sql
  internal/infrastructure/repositorypostgres/product.go
Due: Business Logic, Infrastructure

feat(carts): add endpoint get me
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/router.go
Due: none

chore: gen doc
  docs/docs.go
Due: none

build(migration): update migration [skip ci]
  migration/20251129141039.sql
  migration/atlas.sum
Due: none
