Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, Infrastructure, Application, Attribute, Cart, Category, Order, Product, Review

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 30%
        threshold: 10%
        informational: true
      business-logic:
        target: 60%
        threshold: 5%
        informational: true
        paths:
          - internal/domain/
          - internal/service/
    patch:
      informational: true
component_management:
  individual_components:
    - component_id: business-logic
      name: Business Logic
      paths:
        - internal/domain/
        - internal/service/
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - internal/infrastructure/
    - component_id: application
      name: Application
      paths:
        - cmd/
        - internal/application/
        - internal/client/
        - internal/delivery/
        - internal/server/
        - pkg/
    - component_id: attribute
      name: Attribute
      paths:
        - internal/*attribute*
    - component_id: Cart
      name: Cart
      paths:
        - internal/*cart*
    - name: Category
      paths:
        - internal/*category*
    - name: Order
      paths:
        - internal/*order*
    - name: Product
      paths:
        - internal/*product*
    - name: Review
      paths:
        - internal/*review*
ignore:
  - test/
  - docs/
  - internal/**/*_test.go
  - internal/**/*_mock.go
  - "**/*.sql.go"
  - "**/wire.go"

fix(order): processing not shipping
  internal/application/order.go
Due: Application

fix(createorder): check case is COD
  internal/application/order.go
Due: Application

fix: dont need error with COD
  internal/application/order.go
Due: Application

test(integration/order): updating
  test/integration/application/order_test.go
Due: none

test(integration/order): refactor split into multiple test not in lifecycle
  test/integration/application/order_test.go
Due: none

test: update order test
  .vscode/settings.json
  build/backend.Dockerfile
  go.mod
  go.work
  internal/application/order.go
  internal/application/product.go
  mise.toml
  test/integration/application/order_test.go
Due: Application

test: refactor order and cart test
  docs/testing/defectlog.md
  internal/application/order.go
  test/integration/application/cart_test.go
  test/integration/application/order_test.go
Due: Application

test: update test report
  docs/testing/applicationreport/attribute.md
  docs/testing/applicationreport/cart.md
  docs/testing/applicationreport/category.md
  docs/testing/applicationreport/order.md
  test/integration/application/attribute_test.go
  test/integration/application/category_test.go
Due: none

test: update test report for cart, order
  docs/testing/applicationreport/cart.md
  docs/testing/applicationreport/order.md
  docs/testing/defectlog.md
  test/integration/application/cart_test.go
Due: none

test: restore lifecycle for attribute, category, update test report
  docs/testing/applicationreport/attribute.md
  docs/testing/applicationreport/cart.md
  docs/testing/applicationreport/category.md
  docs/testing/applicationreport/order.md
  docs/testing/defectlog-template.md
  docs/testing/defectlog.md
  docs/testing/defectlog/application.md
  docs/testing/defectlog/domain.md
  test/integration/application/attribute_test.go
  test/integration/application/category_test.go
Due: none

style(test-report): add - in empty cell
  docs/testing/applicationreport/attribute.md
  docs/testing/applicationreport/cart.md
  docs/testing/applicationreport/category.md
  docs/testing/applicationreport/order.md
Due: none

chore: asdfkjasjfkasjfdkjs
  .lazy.lua
  docs/testing/applicationreport/category.md
  test-inte-prompt.md
Due: none

chore: update workflow for testing development
  .lazy.lua
  .mcphub/servers.json
  .rules/006-testing.md
  .rules/010-unitest.md
  .rules/011-integrationtest.md
  .rules/100-business-logic.md
  .rules/README.md
  docs/testing/blackbox-template-guidance.md
  docs/testing/whitebox-template-guidance.md
  test/integration/application/order_test.go
Due: none

docs(AI): re add sql seed info into integrationtest
  .rules/011-integrationtest.md
Due: none

test(integration/cart): missing build tag and vim directive
  test/integration/application/cart_test.go
Due: none

test: new product
  .mcphub/servers.json
  .rules/011-integrationtest.md
  docs/testing/domainreport/product.md
  internal/domain/product_test.go
Due: none

chore: no comment in product test
  internal/domain/product_test.go
Due: none

chore(codecov): add application layer to component bus
  .codecov.yml
Due: none

chore(mcphub): disable language server
  .mcphub/servers.json
Due: none

test: product integration
  .lazy.lua
  .rules/003-application-layer.md
  .rules/010-unittest.md
  .rules/README.md
  database/queries/product.sql
  docs/testing/applicationreport/product.md
  docs/testing/defectlog/application.md
  internal/application/product.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
  test/integration/application/product_test.go
Due: Application

refactor: product integration test split into multiple product test file
  test/integration/application/product_abnormal_test.go
  test/integration/application/product_configurable_test.go
  test/integration/application/product_integration_test.go.bak
  test/integration/application/product_seeded_test.go
  test/integration/application/product_simple_test.go
  test/integration/application/product_test.go
Due: none

style: format product app
  internal/application/product.go
Due: Application

chore: update sqlfluffignore seed fake no
  .sqlfluffignore
Due: none

chore(codecov): update application component
  .codecov.yml
Due: none

chore: idk
  docs/testing/defectlog/application.md
  test/integration/application/product_seeded_test.go
Due: none

chore: add typos
  typos.toml
Due: none

refactor: split product test, add defect id
  test/integration/application/cart_test.go
  test/integration/application/product_cache_test.go
  test/integration/application/product_seeded_test.go
  test/integration/application/product_simple_test.go
Due: none

fix: not set hash algorithm default
  config/server.go
Due: none

feat: return back the test product validate
  .lazy.lua
  internal/domain/productvalidate.go
  internal/domain/productvalidate_test.go
  internal/domain/productvalidate_test.go.bak
Due: Business Logic

test(productvalidate): no parallel bcs it parallel already
  internal/domain/productvalidate_test.go
Due: none

Revert "test(productvalidate): no parallel bcs it parallel already"
  internal/domain/productvalidate_test.go
Due: none

test: wth it doesn't support parallel in testify suite but now it warn?
  internal/domain/attribute_test.go
  internal/domain/cart_test.go
  internal/domain/category_test.go
  internal/domain/order_test.go
  internal/domain/product_test.go
Due: none

chore: update vectorcode exclude seed and bak file
  .vectorcode/vectorcode.exclude
Due: none

fix(product/sql): inner join with category always, and check right it
  database/queries/product.sql
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
Due: none

fix(paginate): let AI imple logic count same as list to get the page good
  database/queries/attribute.sql
  database/queries/category.sql
  database/queries/order.sql
  database/queries/product.sql
  internal/application/attribute.go
  internal/application/category.go
  internal/application/order.go
  internal/application/product.go
  internal/domain/attributerepository.go
  internal/domain/categoryrepository.go
  internal/domain/orderrepository.go
  internal/domain/productrepository.go
  internal/infrastructure/repositorypostgres/attribute.go
  internal/infrastructure/repositorypostgres/category.go
  internal/infrastructure/repositorypostgres/order.go
  internal/infrastructure/repositorypostgres/product.go
  internal/infrastructure/repositorypostgres/sqlc/attribute.sql.go
  internal/infrastructure/repositorypostgres/sqlc/category.sql.go
  internal/infrastructure/repositorypostgres/sqlc/order.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
  sqlc.yaml
Due: Business Logic, Infrastructure, Application

chore: gen mock
  internal/domain/categoryrepository_mock.go
Due: none
