Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, domain, Infrastructure, Application

fix: going
  database/paradedb-index.sql
  docker/compose.yaml
  internal/client/db.go
  justfile
  mise.toml
Due: none

feat: on going attribute
  database/queries/attribute.sql
  database/queries/category.sql
  database/queries/option.sql
  database/queries/product.sql
  database/queries/review.sql
  docs/docs.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/router.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/attribute.go
  internal/domain/product.go
  internal/infrastructure/repository/helper.go
  internal/infrastructure/repository/mapper.go.bak
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgres/option.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/review.sql.go
  internal/infrastructure/repository/postgresattribute.go
  internal/infrastructure/repository/postgresattribute.go.bak
  internal/infrastructure/repository/postgrescart.go
  internal/infrastructure/repository/postgrescategory.go
  internal/infrastructure/repository/postgrescategory.go.bak
  internal/infrastructure/repository/postgresorder.go
  internal/infrastructure/repository/postgresproduct.go
  internal/infrastructure/repository/postgresreview.go
  internal/service/attribute.go
  sqlc.yaml
Due: Business Logic, domain, Infrastructure

chore: remove pointer from the slice of struct
  internal/application/cartimpl.go
  internal/application/productimpl.go
  internal/domain/attribute.go
  internal/domain/cart.go
  internal/domain/order.go
  internal/domain/product.go
  internal/domain/productvalidator.go
  internal/infrastructure/repository/postgresattribute.go
  internal/service/attribute.go
  internal/service/cart.go
  internal/service/order.go
Due: Business Logic, domain, Infrastructure, Application

feat: split bla bla
  docs/docs.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/handlerauth.go
  internal/delivery/http/handlerauthimpl.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/handlercategory.go
  internal/delivery/http/handlercategoryimpl.go
  internal/delivery/http/handlerhealth.go
  internal/delivery/http/handlerhealthimpl.go
  internal/delivery/http/handlerorder.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/handlerproductimpl.go
  internal/delivery/http/handlerreview.go
  internal/delivery/http/handlerreviewimpl.go
Due: none

fix: organize import
  internal/delivery/http/handlerauthimpl.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/handlercategoryimpl.go
  internal/delivery/http/handlerhealth.go
  internal/delivery/http/handlerhealthimpl.go
  internal/delivery/http/handlerorder.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/handlerproductimpl.go
Due: none

docs(swagger): the get using list
  docs/docs.go
  internal/delivery/http/handlerattributeimpl.go
Due: none

fix: use pointer in update
  internal/application/attributeimpl.go
  internal/domain/attributeservice.go
  internal/service/attribute.go
  internal/service/cart.go
Due: Business Logic, domain, Application

chore: rename
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/handlerauthimpl.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/handlercategoryimpl.go
  internal/delivery/http/handlerhealthimpl.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/handlerproductimpl.go
  internal/delivery/http/handlerreviewimpl.go
  internal/di/wire.go
  internal/di/wire_gen.go
Due: Business Logic, Infrastructure

fix(database): doing
  database/queries/attribute.sql
  docker/compose.yaml
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgresattribute.go
  sqlc.yaml
Due: Business Logic, Infrastructure

fix(sql): asdf
  database/queries/attribute.sql
  database/queries/cart.sql
  database/queries/option.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/cart.sql.go
  internal/infrastructure/repository/postgres/option.sql.go
Due: Business Logic, Infrastructure

chore: remove those markdown
  IMPLEMENTATION_SUMMARY.md
  INTEGRATION_GUIDE.md
  PRODUCT_IMPLEMENTATION_SUMMARY.md
  SCOPE_NOTES.md
  database/queries/option.sql
  internal/infrastructure/repository/postgres/option.sql.go
Due: Business Logic, Infrastructure

fix: add param to doc
  docs/docs.go
  internal/delivery/http/handlerattributeimpl.go
Due: none

fix(database): no user here
  database/queries/attribute.sql
  database/queries/option.sql
  database/queries/product.sql
  database/queries/user.sql
  database/schema.sql
  database/temporary-table/product.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/models.go
  internal/infrastructure/repository/postgres/option.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/querier.go
Due: Business Logic, Infrastructure

fix: use pointer on update
  internal/application/attributeimpl.go
  internal/domain/attributeservice.go
  internal/service/attribute.go
Due: Business Logic, domain, Application

feat: imple product service
  internal/application/productparam.go
  internal/domain/product.go
  internal/domain/productservice.go
  internal/service/product.go
Due: Business Logic, domain, Application

feat: timestamptz instead of timestamp and done category
  database/schema.sql
  docs/docs.go
  internal/constant/redis.go
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/handlercategoryimpl.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/handlerproductimpl.go
  internal/delivery/http/handlerreviewimpl.go
  internal/infrastructure/repository/helper.go
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/cart.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgres/models.go
  internal/infrastructure/repository/postgres/option.sql.go
  internal/infrastructure/repository/postgres/order.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/review.sql.go
  internal/infrastructure/repository/postgresattribute.go
  internal/infrastructure/repository/postgrescategory.go
  internal/service/category.go
Due: Business Logic, Infrastructure

feat(handler): add ổ khó
  docs/docs.go
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/handlercartimpl.go
  internal/delivery/http/handlercategoryimpl.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/handlerproductimpl.go
  internal/delivery/http/handlerreviewimpl.go
Due: none

fix: param to going to go to go
  internal/application/attributeimpl.go
  internal/application/attributeparam.go
  internal/application/categoryimpl.go
  internal/application/common.go
  internal/application/orderimpl.go
  internal/application/productimpl.go
  internal/application/productparam.go
  internal/application/reviewimpl.go
  internal/constant/redis.go
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/helper.go
  internal/domain/attributerepository.go
  internal/domain/attributerepository_mock.go
  internal/domain/productservice.go
  internal/infrastructure/repository/postgresattribute.go
  internal/service/attribute.go
  internal/service/product.go
Due: Business Logic, domain, Infrastructure, Application

chore(gitattributes): let it detect
  .gitattributes
Due: none

chore(sql): truncate
  database/truncate-tables.sql
Due: none

fix: doing the service and repo interface for order and review
  internal/application/attributeimpl.go
  internal/domain/orderrepository.go
  internal/domain/orderrepository_mock.go
  internal/domain/reviewservice.go
  internal/infrastructure/repository/postgresorder.go
  internal/infrastructure/repository/postgresreview.go
  internal/service/review.go
Due: Business Logic, domain, Infrastructure, Application

feat: done above layer of product
  database/schema.sql
  internal/application/product.go
  internal/application/productimpl.go
  internal/application/productparam.go
  internal/domain/attributeservice.go
  internal/domain/product.go
  internal/domain/productrepository.go
  internal/domain/productrepository_mock.go
  internal/domain/productservice.go
  internal/helper/slice/pointer.go
  internal/infrastructure/repository/postgres/models.go
  internal/infrastructure/repository/postgres/review.sql.go
  internal/infrastructure/repository/postgresproduct.go
  internal/service/attribute.go
  internal/service/product.go
Due: Business Logic, domain, Infrastructure, Application

docs(AI): let it compact
  .rules/000-architecture-overview.md
  .rules/001-structure.md
  .rules/002-domain-layer.md
  .rules/003-application-layer.md
  .rules/004-service-layer.md
  .rules/005-repository-layer.md
  .rules/006-testing.md
  .rules/007-coding-standards.md
  .rules/008-database-conventions.md
  .rules/100-business-logic.md
  internal/infrastructure/cache/redis/constant/redis.go
Due: Business Logic, Infrastructure

feat: abtract the redis using AI
  internal/application/attributecache.go
  internal/application/attributeimpl.go
  internal/application/categorycache.go
  internal/application/categoryimpl.go
  internal/application/orderimpl.go
  internal/application/productcache.go
  internal/application/productimpl.go
  internal/application/productobjectstorage.go
  internal/application/reviewcache.go
  internal/application/reviewimpl.go
  internal/application/reviewparam.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/infrastructure/cacheredis/attribute.go
  internal/infrastructure/cacheredis/category.go
  internal/infrastructure/cacheredis/constant.go
  internal/infrastructure/cacheredis/product.go
  internal/infrastructure/cacheredis/review.go
  internal/infrastructure/objectstorages3/constant.go
  internal/infrastructure/objectstorages3/s3mapper.go
  internal/infrastructure/objectstorages3/s3product.go
  internal/infrastructure/repository/error.go
  internal/infrastructure/repository/postgreserror.go
Due: Business Logic, Infrastructure, Application

fix: review the handler
  docs/docs.go
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/handlercategoryimpl.go
  internal/delivery/http/router.go
  internal/di/wire.go
  internal/di/wire_gen.go
  justfile
Due: Business Logic, Infrastructure

fix: but not all, AI doesn't check error returned
  internal/application/attributeimpl.go
Due: Application

style: format domain err
  internal/domain/error.go
Due: Business Logic, domain

feat(keycloak): seed those user with id
  keycloak/electricilies-realm-export.json
  script/keycloak-sed-user-id.sh
Due: none

chore(postgrestools): rename to postgres-language-server
  postgres-language-server.jsonc
Due: none

chore: swagger anotation
  docs/docs.go
  internal/application/productparam.go
  internal/domain/review.go
Due: Business Logic, domain, Application

fix: error not checked, but cache err ignore from now
  internal/application/categoryimpl.go
  internal/application/productimpl.go
  internal/infrastructure/repository/postgresproduct.go
Due: Business Logic, Infrastructure, Application

refactor: repositorypostgres
  internal/application/product.go
  internal/application/productimpl.go
  internal/application/productobjectstorage.go
  internal/client/db.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/infrastructure/cacheredis/attribute.go
  internal/infrastructure/cacheredis/category.go
  internal/infrastructure/cacheredis/product.go
  internal/infrastructure/cacheredis/review.go
  internal/infrastructure/objectstorages3/s3product.go
  internal/infrastructure/repositorypostgres/attribute.go
  internal/infrastructure/repositorypostgres/cart.go
  internal/infrastructure/repositorypostgres/category.go
  internal/infrastructure/repositorypostgres/error.go
  internal/infrastructure/repositorypostgres/helper.go
  internal/infrastructure/repositorypostgres/order.go
  internal/infrastructure/repositorypostgres/product.go
  internal/infrastructure/repositorypostgres/review.go
  internal/infrastructure/repositorypostgres/sqlc/attribute.sql.go
  internal/infrastructure/repositorypostgres/sqlc/cart.sql.go
  internal/infrastructure/repositorypostgres/sqlc/category.sql.go
  internal/infrastructure/repositorypostgres/sqlc/copyfrom.go
  internal/infrastructure/repositorypostgres/sqlc/db.go
  internal/infrastructure/repositorypostgres/sqlc/models.go
  internal/infrastructure/repositorypostgres/sqlc/option.sql.go
  internal/infrastructure/repositorypostgres/sqlc/order.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
  internal/infrastructure/repositorypostgres/sqlc/providequeries.go
  internal/infrastructure/repositorypostgres/sqlc/querier.go
  internal/infrastructure/repositorypostgres/sqlc/review.sql.go
  internal/infrastructure/repositorypostgres/sqlc/user.sql.go
  sqlc.yaml
Due: Business Logic, Infrastructure, Application

chore: sqlc config remove package out
  sqlc.yaml
Due: none

fix: add search to product
  docs/docs.go
  internal/delivery/http/handlerproductimpl.go
  internal/delivery/http/helper.go
Due: none

refactor(sqlc): merge queries temp table into single query file
  database/queries/attribute.sql
  database/queries/cart.sql
  database/queries/option.sql
  database/queries/product.sql
  database/temporary-table/attribute.sql
  database/temporary-table/cart.sql
  database/temporary-table/option.sql
  database/temporary-table/product.sql
  internal/infrastructure/repositorypostgres/sqlc/option.sql.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
  sqlc.yaml
Due: Business Logic, Infrastructure

fix: inject product app
  internal/delivery/http/handlerproductimpl.go
  internal/di/wire.go
  internal/di/wire_gen.go
Due: Business Logic, Infrastructure

chore: helper to convert path to uuid
  internal/delivery/http/handlerattributeimpl.go
  internal/delivery/http/helper.go
Due: none

feat: merge seed into schema, move the seed fake to seed
  README.md
  database/schema.sql
  database/seed-fake.sql
  database/seed.sql
  docker/compose.yaml
  docker/volume/seed-fake.sql
  justfile
  sonar-project.properties
  test/integration/component/containers.go
  test/integration/testdata/31-seed-fake.sql
Due: none

feat(database): seed cart, order, review
  database/schema.sql
  database/seed.sql
Due: none

chore(codecov): adjust layers, component
  .codecov.yml
Due: none

Path conditions:
  Business Logic: any of: internal/domain/, internal/infrastructure/, internal/di/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  domain: any of: internal/domain/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  Infrastructure: any of: internal/infrastructure/, internal/di/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  Application: any of: internal/application/, internal/interface/, internal/server/, cmd/, pkg/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
