Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: domain, infrastructure, application

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 30%
        threshold: 10%
        informational: true
      bussiness-logic:
        target: 60%
        threshold: 5%
        informational: true
        paths:
          - internal/domain/
          - internal/infrastructure/
          - internal/di/
    patch:
      informational: true
component_management:
  individual_components:
    - name: domain
      paths:
        - internal/domain/
    - name: infrastructure
      paths:
        - internal/infrastructure/
        - internal/di/
    - name: application
      paths:
        - internal/application/
        - internal/interface/
        - internal/server/
        - cmd/
        - pkg/
ignore:
  - test/
  - docs/
  - internal/**/*_test.go
  - internal/**/*_mock.go
  - "**/wire.go"

chore(codecov): business logic component and app badge in README
  .codecov.yml
  README.md
Due: none

ci(main): run test on windows should use bash on check
  .github/workflows/main.yaml
Due: none

chore(codecov): component id and name
  .codecov.yml
Due: none

fix: passing context from main
  cmd/main.go
  internal/di/client/keycloak.go
  internal/di/client/redis.go
  internal/di/client/s3.go
  internal/di/db/db.go
  internal/di/wire.go
  internal/di/wire_gen.go
Due: infrastructure, application

fix: pointer to params
  internal/domain/category/model.go
  internal/interface/api/handler/category.go
Due: domain, application

fix(test/integration): product passing ctx down
  test/integration/application/product_integration_test.go
Due: none

feat(product): add query params
  docs/docs.go
  internal/domain/param/query.go
  internal/domain/product/model.go
  internal/interface/api/handler/product.go
Due: domain, application

feat(review): add query params
  docs/docs.go
  internal/domain/review/model.go
  internal/interface/api/handler/review.go
Due: domain, application

feat(review): add query params(again)
  docs/docs.go
  internal/interface/api/handler/review.go
Due: application

fix: category id is int
  docs/docs.go
  internal/interface/api/handler/product.go
Due: application

refactor(model): use pointer in domain model
  internal/domain/attribute/model.go
  internal/domain/cart/model.go
  internal/domain/category/model.go
  internal/domain/param/pagination.go
  internal/domain/product/model.go
  internal/domain/review/model.go
  internal/domain/user/model.go
  internal/infrastructure/product/model.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/user/model.go
  internal/infrastructure/user/repository.go
  internal/interface/api/handler/attribute.go
  internal/interface/api/handler/product.go
  internal/interface/api/handler/review.go
  internal/interface/api/handler/user.go
  internal/interface/api/request/pagination.go
  internal/interface/api/request/user.go
  internal/interface/api/response/cart.go
  internal/interface/api/response/category.go
  internal/interface/api/response/pagination.go
  internal/interface/api/response/product.go
  internal/interface/api/response/review.go
  internal/interface/api/response/user.go
  internal/interface/api/router/router.go
Due: domain, infrastructure, application

refactor(user): id is a params not in body
  internal/application/user.go
  internal/domain/user/model.go
  internal/domain/user/repository.go
  internal/domain/user/service.go
  internal/infrastructure/user/model.go
  internal/infrastructure/user/repository.go
  internal/interface/api/handler/user.go
  internal/interface/api/request/user.go
Due: domain, infrastructure, application

refactor: map params from request to domain
  database/queries/category.sql
  internal/application/cart.go
  internal/domain/cart/model.go
  internal/domain/cart/repository.go
  internal/domain/review/model.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/presistence/postgres/category.sql.go
  internal/interface/api/handler/attribute.go
  internal/interface/api/handler/cart.go
  internal/interface/api/handler/category.go
  internal/interface/api/handler/product.go
  internal/interface/api/handler/review.go
  internal/interface/api/request/attribute.go
  internal/interface/api/request/cart.go
  internal/interface/api/request/category.go
  internal/interface/api/request/pagination.go
  internal/interface/api/request/param.go
  internal/interface/api/request/product.go
  internal/interface/api/request/review.go
Due: domain, infrastructure, application

fix: not export
  internal/interface/api/request/param.go
Due: application

fix: i dont know what i'm thinking
  internal/application/user.go
  internal/domain/user/repository.go
  internal/infrastructure/user/repository.go
  internal/interface/api/handler/user.go
Due: domain, infrastructure, application

fix: again
  internal/application/user.go
  internal/domain/user/repository.go
  internal/infrastructure/user/model.go
  internal/interface/api/handler/user.go
Due: domain, infrastructure, application

fix(infrastructure/repository): add postfix Impl in name
  internal/infrastructure/attribute/repository.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/category/repository.go
  internal/infrastructure/review/repository.go
Due: infrastructure

fix: update user params mapper
  internal/application/user.go
  internal/domain/user/repository.go
  internal/infrastructure/user/model.go
  internal/interface/api/handler/user.go
Due: domain, infrastructure, application

chore: add default value in limit params
  docs/docs.go
  internal/interface/api/handler/attribute.go
  internal/interface/api/handler/cart.go
  internal/interface/api/handler/category.go
  internal/interface/api/handler/product.go
  internal/interface/api/handler/review.go
Due: application

chore(mock): mockery run
  internal/domain/cart/repository_mock.go
  internal/domain/user/repository_mock.go
Due: none

chore(nvim): add redis local
  .lazy.lua
Due: none

test(user): delete unit test at domain
  internal/application/user_test.go
Due: none

docs(swagger): bulk update product image
  docs/docs.go
  internal/interface/api/handler/product.go
Due: application

feat: review belong to order item id
  docs/docs.go
  internal/interface/api/request/review.go
  internal/interface/api/response/review.go
Due: application

chore: love interface{}
  internal/interface/api/middleware/role.go
Due: application

refactor: hah
  internal/domain/review/repository.go
  internal/infrastructure/product/mapper.go
  internal/infrastructure/review/repository.go
  internal/infrastructure/user/mapper.go
Due: domain, infrastructure

refactor: move client outside di
  internal/application/review.go
  internal/client/keycloak.go
  internal/client/redis.go
  internal/client/s3.go
  internal/di/wire.go
  internal/di/wire_gen.go
  test/integration/application/product_integration_test.go
Due: infrastructure, application

refactor: presistence to persistence
  internal/di/db/db.go
  internal/infrastructure/persistence/presistence/postgres/attribute.sql.go
  internal/infrastructure/persistence/presistence/postgres/cart.sql.go
  internal/infrastructure/persistence/presistence/postgres/category.sql.go
  internal/infrastructure/persistence/presistence/postgres/db.go
  internal/infrastructure/persistence/presistence/postgres/models.go
  internal/infrastructure/persistence/presistence/postgres/option.sql.go
  internal/infrastructure/persistence/presistence/postgres/order.sql.go
  internal/infrastructure/persistence/presistence/postgres/payment.sql.go
  internal/infrastructure/persistence/presistence/postgres/product.sql.go
  internal/infrastructure/persistence/presistence/postgres/review.sql.go
  internal/infrastructure/persistence/presistence/postgres/user.sql.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/user/mapper.go
  internal/infrastructure/user/repository.go
  test/integration/application/product_integration_test.go
Due: infrastructure

Revert "refactor: presistence to persistence"
  internal/di/db/db.go
  internal/infrastructure/presistence/postgres/attribute.sql.go
  internal/infrastructure/presistence/postgres/cart.sql.go
  internal/infrastructure/presistence/postgres/category.sql.go
  internal/infrastructure/presistence/postgres/db.go
  internal/infrastructure/presistence/postgres/models.go
  internal/infrastructure/presistence/postgres/option.sql.go
  internal/infrastructure/presistence/postgres/order.sql.go
  internal/infrastructure/presistence/postgres/payment.sql.go
  internal/infrastructure/presistence/postgres/product.sql.go
  internal/infrastructure/presistence/postgres/review.sql.go
  internal/infrastructure/presistence/postgres/user.sql.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/user/mapper.go
  internal/infrastructure/user/repository.go
  test/integration/application/product_integration_test.go
Due: infrastructure

refactor: move presistence to persistence
  internal/di/db/db.go
  internal/infrastructure/persistence/postgres/attribute.sql.go
  internal/infrastructure/persistence/postgres/cart.sql.go
  internal/infrastructure/persistence/postgres/category.sql.go
  internal/infrastructure/persistence/postgres/db.go
  internal/infrastructure/persistence/postgres/models.go
  internal/infrastructure/persistence/postgres/option.sql.go
  internal/infrastructure/persistence/postgres/order.sql.go
  internal/infrastructure/persistence/postgres/payment.sql.go
  internal/infrastructure/persistence/postgres/product.sql.go
  internal/infrastructure/persistence/postgres/review.sql.go
  internal/infrastructure/persistence/postgres/user.sql.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/user/mapper.go
  internal/infrastructure/user/repository.go
  test/integration/application/product_integration_test.go
Due: infrastructure

feat(database/sqlc): updated now dynamically, and order update
  database/queries/category.sql
  database/queries/order.sql
  database/queries/product.sql
  database/queries/review.sql
  internal/infrastructure/presistence/postgres/attribute.sql.go
  internal/infrastructure/presistence/postgres/cart.sql.go
  internal/infrastructure/presistence/postgres/category.sql.go
  internal/infrastructure/presistence/postgres/db.go
  internal/infrastructure/presistence/postgres/models.go
  internal/infrastructure/presistence/postgres/option.sql.go
  internal/infrastructure/presistence/postgres/order.sql.go
  internal/infrastructure/presistence/postgres/payment.sql.go
  internal/infrastructure/presistence/postgres/product.sql.go
  internal/infrastructure/presistence/postgres/review.sql.go
  internal/infrastructure/presistence/postgres/user.sql.go
Due: infrastructure

chore(helper): pointer from kube
  internal/helper/func.go
  internal/helper/pointer.go
Due: none

fix(presistence): remove the leftover
  internal/infrastructure/presistence/postgres/attribute.sql.go
  internal/infrastructure/presistence/postgres/cart.sql.go
  internal/infrastructure/presistence/postgres/category.sql.go
  internal/infrastructure/presistence/postgres/db.go
  internal/infrastructure/presistence/postgres/models.go
  internal/infrastructure/presistence/postgres/option.sql.go
  internal/infrastructure/presistence/postgres/order.sql.go
  internal/infrastructure/presistence/postgres/payment.sql.go
  internal/infrastructure/presistence/postgres/product.sql.go
  internal/infrastructure/presistence/postgres/review.sql.go
  internal/infrastructure/presistence/postgres/user.sql.go
Due: infrastructure

fix(sqlc): regen
  internal/infrastructure/persistence/postgres/category.sql.go
  internal/infrastructure/persistence/postgres/order.sql.go
  internal/infrastructure/persistence/postgres/product.sql.go
  internal/infrastructure/persistence/postgres/review.sql.go
  sqlc.yaml
Due: infrastructure

fix(database): review ref to order item, and trigger to update product rating
  database/queries/review.sql
  database/schema.sql
  database/trigger.sql
  internal/infrastructure/persistence/postgres/models.go
  internal/infrastructure/persistence/postgres/review.sql.go
  internal/infrastructure/review/repository.go
Due: infrastructure

fix(wire): regen
  internal/di/wire_gen.go
Due: infrastructure

chore(nvim): auto mockery when changing repository interface in domain
  .lazy.lua
  internal/domain/review/repository_mock.go
Due: none

feat(order): add address
  database/schema.sql
  docs/docs.go
  internal/infrastructure/persistence/postgres/models.go
  internal/infrastructure/persistence/postgres/order.sql.go
  internal/interface/api/request/order.go
  internal/interface/api/response/order.go
Due: infrastructure, application

fix: add product id for endpoint which missing it
  docs/docs.go
  internal/interface/api/handler/product.go
  internal/interface/api/router/router.go
Due: application

chore: update the order not only status
  docs/docs.go
  internal/interface/api/handler/order.go
Due: application
