Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, Infrastructure, Application, Attribute, Cart, Category, Order, Product, Review

fix: check len
  internal/application/product.go
Due: Application

fix(product): getting images empty of the product
  database/queries/product.sql
  internal/client/redis.go
  internal/infrastructure/repositorypostgres/product.go
  internal/infrastructure/repositorypostgres/sqlc/product.sql.go
Due: Infrastructure, Application

chore: if inferred the annotation got the wrong struct, skip ok
  docs/testing/whitebox-template-guidance.md
  internal/domain/ordervalidator.go
Due: Business Logic

docs(AI): update testing rules
  .rules/006-testing.md
Due: none

docs(AI): rules mention about template test and defect log
  .rules/006-testing.md
  docs/testing/defect-log.md
Due: none

refactor(s3product): wrap the client
  internal/application/product.go
  internal/application/productobjectstorage.go
  internal/client/s3.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/product.go
  internal/infrastructure/objectstorages3/s3product.go
Due: Business Logic, Infrastructure, Application

chore: temp folder of minio
  internal/infrastructure/objectstorages3/mapper.go
  internal/infrastructure/objectstorages3/product.go
  terraform/minio/main.tf
Due: Infrastructure

fix(option): = any, not = table
  database/queries/option.sql
  internal/infrastructure/repositorypostgres/sqlc/option.sql.go
Due: none

chore(product): move image after persist db
  internal/application/product.go
Due: Application

fix: call link product outside the loop
  internal/application/product.go
Due: Application

fix(cart): item id not cart item id
  internal/delivery/http/handlercartimpl.go
Due: Application

fix(cart): getting cart items by cart id, not asfasdf
  internal/infrastructure/repositorypostgres/cart.go
Due: Infrastructure

fix: keycloak no return nil, router add vnpay, order no delete cart
  internal/application/order.go
  internal/client/keycloak.go
  internal/delivery/http/middlewareloggingimpl.go
  internal/delivery/http/router.go
  mise.toml
Due: Application

docs(AI): template testing
  .rules/006-testing.md
  docs/testing/whitebox-attribute.md
  docs/testing/whitebox-category.md
  docs/testing/whitebox-template-guidance.md
Due: none

feat: add test unit for category
  .golangci.yaml
  internal/application/category.go
  internal/domain/category.go
  internal/domain/category_test.go
Due: Business Logic, Application

chore: category test report
  docs/testing/whitebox-category.md
  docs/testing/whitebox-template-guidance.md
Due: none

test: category unit test report
  docs/testing/whitebox-category.md
  docs/testing/whitebox-template-guidance.md
  internal/domain/category_test.go
Due: none

test: test report for category application integration
  docs/testing/report/attribute-domain.md
  docs/testing/report/category-application.md
  docs/testing/report/category-domain.md
  docs/testing/whitebox-attribute.md
  docs/testing/whitebox-template-guidance.md
Due: none

fix(application): the update it has validate inside of it
  internal/application/category.go
Due: Application

fix(category): validate ourself, not inside domain struct
  internal/application/category.go
  internal/domain/category.go
  internal/domain/category_test.go
Due: Business Logic, Application

feat: unit test for attribute, cart, order
  docs/testing/defect-log.md
  docs/testing/report/attribute-domain.md
  docs/testing/report/cart-domain.md
  docs/testing/report/order-domain.md
  internal/domain/attribute_test.go
  internal/domain/cart.go
  internal/domain/cart_test.go
  internal/domain/category_test.go
  internal/domain/order.go
  internal/domain/order_test.go
  internal/domain/ordervalidate.go
  internal/domain/ordervalidate_test.go
  internal/domain/ordervalidator.go
Due: Business Logic

refactor: merge validator into the register logic
  internal/client/validate.go
  internal/domain/order_test.go
  internal/domain/ordervalidate.go
  internal/domain/productvalidate.go
  internal/domain/productvalidate_test.go.bak
  internal/domain/productvalidator.go
Due: Business Logic, Application

test: use s.Empty like golang ci lint said
  internal/domain/cart_test.go
Due: none

docs(AI): update business-logic
  .rules/100-business-logic.md
Due: none

chore: mock vnpaypaymentservice
  .mockery.yml
  .nvim.lua
  internal/application/vnpaypaymentservice_mock.go
Due: none

chore: cleanup not need check nil in struct function
  internal/domain/attribute.go
Due: Business Logic

chore(testing): report for attribute-application
  docs/testing/report/attribute-application.md
Due: none

docs(AI): update which variant seeded
  .rules/006-testing.md
Due: none

test: AI test cart and order, but not really done
  .rules/100-business-logic.md
  docs/testing/defect-log.md
  test/integration/application/cart_test.go
  test/integration/application/category_test.go
  test/integration/application/order_test.go
Due: none

chore: prompt AI in root test-inte-prompt for order, cart
  test-inte-prompt.md
Due: none

docs(AI): no need to require error always
  .rules/006-testing.md
Due: none

chore(codecov): maybe business logic should include application implement layer
  .codecov.yml
Due: none

chore: order, shipping not shipped
  database/schema.sql
Due: none

chore(order): shipping not shipped
  docs/docs.go
  internal/application/order.go
  internal/domain/order.go
  internal/domain/order_test.go
Due: Business Logic, Application

chore: no comment on unit test files
  internal/domain/attribute_test.go
  internal/domain/cart_test.go
  internal/domain/order_test.go
Due: none

fix(list-order): limit and offset in swagger
  docs/docs.go
  internal/delivery/http/handlerorderimpl.go
Due: Application

chore: no need ok wtf AI
  internal/domain/attribute.go
  internal/domain/attribute_test.go
  internal/domain/cart_test.go
  internal/domain/category_test.go
  internal/domain/order_test.go
Due: Business Logic

chore: update test asdfasdf vim tab
  docs/testing/report/cart-domain.md
  internal/domain/attribute_test.go
  internal/domain/cart.go
  internal/domain/cart_test.go
  internal/domain/category_test.go
  internal/domain/order_test.go
  internal/domain/productvalidate_test.go.bak
  test/integration/application/attribute_test.go
  test/integration/application/cart_test.go
  test/integration/application/category_test.go
  test/integration/application/order_test.go
Due: Business Logic

docs: refactor test report black white
  docs/testing/applicationreport/attribute.md
  docs/testing/applicationreport/category.md
  docs/testing/blackbox-template-guidance.md
  docs/testing/defectlog.md
  docs/testing/defectlog/application.md
  docs/testing/defectlog/domain.md
  docs/testing/domainreport/attribute.md
  docs/testing/domainreport/cart.md
  docs/testing/domainreport/category.md
  docs/testing/domainreport/order.md
  docs/testing/report/attribute-application.md
  docs/testing/report/category-application.md
  docs/testing/whitebox-template-guidance.md
Due: none

chore: remove some comments
  test/integration/application/cart_test.go
  test/integration/application/order_test.go
Due: none

Path conditions:
  Business Logic: any of: internal/domain/, internal/service/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Infrastructure: any of: internal/infrastructure/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Application: any of: cmd/, internal/application/, internal/client/, internal/delivery/, internal/server/, pkg/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Attribute: any of: internal/*attribute*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Cart: any of: internal/*cart*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Category: any of: internal/*category*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Order: any of: internal/*order*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Product: any of: internal/*product*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Review: any of: internal/*review*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
