Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, domain, Infrastructure, Application

chore: rename
  internal/delivery/http/middlewareauth.go
  internal/delivery/http/middlewarelogging.go
  internal/delivery/http/middlewarerole.go
Due: none

chore(database): use sqlc.arg instead of @
  database/queries/attribute.sql
  database/queries/cart.sql
  database/queries/category.sql
  database/queries/option.sql
  database/queries/order.sql
  database/queries/payment.sql
  database/queries/product.sql
  database/queries/review.sql
  database/queries/user.sql
Due: none

chore(nvim): config for new structure
  .lazy.lua
Due: none

chore(database): remove suggested product
  database/queries/attribute.sql
  database/queries/cart.sql
  database/queries/category.sql
  database/queries/option.sql
  database/queries/order.sql
  database/queries/payment.sql
  database/queries/product.sql
  database/queries/review.sql
  database/queries/user.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  sqlc.yaml
Due: Business Logic, Infrastructure

fix: holisit paginate and list attribute
  .mcphub/servers.json
  docs/docs.go
  internal/client/db.go
  internal/delivery/http/handlerattribute.go
  internal/domain/attribute.go
  internal/domain/cart.go
  internal/domain/pagination.go
  internal/infrastructure/repository/mapper.go
  internal/infrastructure/repository/postgresattribute.go
  internal/repository/attribute.go
  internal/service/attribute.go
  internal/service/cart.go
  internal/service/category.go
  internal/service/order.go
  internal/service/pagination.go
  internal/service/payment.go
  internal/service/product.go
  internal/service/review.go
  internal/service/user.go
Due: Business Logic, domain, Infrastructure

feat: AI gen the attribute and category
  database/queries/attribute.sql
  internal/infrastructure/repository/mapper.go
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgresattribute.go
  internal/infrastructure/repository/postgrescategory.go
  internal/repository/attribute.go
  internal/repository/category.go
  internal/service/category.go
Due: Business Logic, Infrastructure

fix(category): implement get
  database/queries/category.sql
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgrescategory.go
Due: Business Logic, Infrastructure

chore: product, only update one a time because it is partial
  database/queries/product.sql
  internal/infrastructure/repository/postgres/product.sql.go
  internal/service/product.go
Due: Business Logic, Infrastructure

chore: move the repo to domain
  internal/domain/repositoryattribute.go
  internal/domain/repositorycatergory.go
  internal/repository/attribute.go
  internal/repository/category.go
  internal/service/attribute.go
Due: Business Logic, domain

fix(swagger): page not offset
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercategory.go
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/handlerreview.go
Due: none

chore: refactor
  internal/domain/attribute.go
  internal/domain/attributerepository.go
  internal/domain/cart.go
  internal/domain/category.go
  internal/domain/catergoryrepository.go
  internal/domain/order.go
  internal/domain/pagination.go
  internal/domain/payment.go
  internal/domain/product.go
  internal/domain/refund.go
  internal/domain/repositoryattribute.go
  internal/domain/returnrequest.go
  internal/domain/review.go
  internal/domain/user.go
  internal/infrastructure/repository/postgresattribute.go
  internal/service/attribute.go
  internal/service/pagination.go
Due: Business Logic, domain, Infrastructure

refactor: asdfsf
  internal/domain/attribute.go
  internal/domain/cart.go
  internal/domain/order.go
  internal/domain/payment.go
  internal/domain/product.go
  internal/domain/review.go
  internal/domain/user.go
  internal/service/attribute.go
  internal/service/attributeparam.go
  internal/service/pagination.go
Due: Business Logic, domain

feat: category for me
  internal/domain/catergoryrepository.go
  internal/service/category.go
  internal/service/categoryparam.go
Due: Business Logic, domain

chore: set context
  internal/delivery/http/middlewareauth.go
Due: none

chore: asfasdf
  internal/domain/attributerepository.go
  internal/service/attribute.go
  internal/service/attributeimpl.go
  internal/service/attributeparam.go
  internal/service/cart.go
  internal/service/cartimpl.go
  internal/service/cartparam.go
  internal/service/order.go
  internal/service/orderimpl.go
  internal/service/orderparam.go
  internal/service/pagination.go
Due: Business Logic, domain

feat: payment and cate
  internal/domain/paymentrepository.go
  internal/service/category.go
  internal/service/categoryimpl.go
  internal/service/categoryparam.go
  internal/service/payment.go
  internal/service/paymentimpl.go
  internal/service/paymentparam.go
Due: Business Logic, domain

chore: enum
  internal/service/paymentparam.go
Due: none

feat: add order repo
  internal/domain/orderrepository.go
  internal/service/orderparam.go
Due: Business Logic, domain

feat: handle error
  go.mod
  go.sum
  internal/domain/error.go
  internal/infrastructure/repository/errormapper.go
Due: Business Logic, domain, Infrastructure

fix: some from AI
  internal/domain/attribute.go
  internal/domain/attributerepository.go
  internal/domain/cart.go
  internal/domain/cartrepository.go
  internal/domain/category.go
  internal/domain/catergoryrepository.go
  internal/domain/order.go
  internal/domain/payment.go
  internal/domain/paymentrepository.go
  internal/service/attributeparam.go
  internal/service/cart.go
  internal/service/cartimpl.go
  internal/service/cartparam.go
  internal/service/categoryparam.go
  internal/service/orderparam.go
  internal/service/pagination.go
  internal/service/paymentparam.go
Due: Business Logic, domain

chore: send error in http
  internal/delivery/http/error.go
Due: none

fix: remove un handle endpoint
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/router.go
Due: none

chore: delicious
  internal/delivery/http/handlercart.go
Due: none

feat: AI
  internal/domain/review.go
  internal/domain/reviewrepository.go
  internal/infrastructure/repository/enum.go
  internal/service/attributeparam.go
  internal/service/review.go
  internal/service/reviewimpl.go
  internal/service/reviewparam.go
Due: Business Logic, domain, Infrastructure

fix: enum the DeleteParam
  internal/domain/attributerepository.go
  internal/domain/enum.go
  internal/domain/orderrepository.go
  internal/service/attributeparam.go
  internal/service/reviewparam.go
Due: Business Logic, domain

feat: asdfasdf
  internal/domain/attribute.go
  internal/domain/cart.go
  internal/domain/order.go
  internal/domain/product.go
  internal/service/product.go
Due: Business Logic, domain

feat: asdfasdf
  database/queries/attribute.sql
  internal/domain/product.go
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/service/attribute.go
  internal/service/attributeimpl.go
  internal/service/attributeparam.go
  internal/service/product.go
  internal/service/productimpl.go
  internal/service/productparam.go
Due: Business Logic, domain, Infrastructure

chore: swagger
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercategory.go
  internal/delivery/http/handlerorder.go
  internal/delivery/http/handlerpayment.go
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/handlerreview.go
  internal/delivery/http/handleruser.go
Due: none

chore: add missing omit in pointer
  internal/service/productparam.go
Due: none

feat: userparam
  internal/domain/userrepository.go
  internal/service/user.go
  internal/service/userimpl.go
  internal/service/userparam.go
Due: Business Logic, domain

chore: change field
  internal/domain/attribute.go
  internal/domain/category.go
  internal/domain/enum.go
  internal/domain/product.go
  internal/domain/review.go
  internal/service/product.go
  internal/service/userparam.go
Due: Business Logic, domain

fix: no authentication in infrastructure
  internal/delivery/http/error.go
  internal/delivery/http/middlewareauth.go
  internal/delivery/http/middlewarerole.go
  internal/domain/error.go
  internal/infrastructure/repository/errormapper.go
Due: Business Logic, domain, Infrastructure

chore: allow put bulk for attribute values
  internal/infrastructure/repository/postgresattribute.go
  internal/service/attribute.go
  internal/service/attributeimpl.go
  internal/service/attributeparam.go
Due: Business Logic, Infrastructure

chore(middleware): split their into 2 file
  internal/delivery/http/middlewareauth.go
  internal/delivery/http/middlewareauthimpl.go
  internal/delivery/http/middlewarelogging.go
  internal/delivery/http/middlewareloggingimpl.go
  internal/delivery/http/middlewaremetric.go
  internal/delivery/http/middlewaremetricimpl.go
  internal/delivery/http/middlewarerole.go
  internal/delivery/http/middlewareroleimpl.go
Due: none

fix(middleware): not hardcode the error
  internal/delivery/http/middlewarerole.go
  internal/delivery/http/middlewareroleimpl.go
Due: none

chore: error
  internal/delivery/http/error.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/router.go
  internal/service/error.go
Due: none

chore: remove unused
  internal/delivery/http/middlewareauth.go
  internal/delivery/http/middlewarerole.go
Due: none

Path conditions:
  Business Logic: any of: internal/domain/, internal/infrastructure/, internal/di/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  domain: any of: internal/domain/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  Infrastructure: any of: internal/infrastructure/, internal/di/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  Application: any of: internal/application/, internal/interface/, internal/server/, cmd/, pkg/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
