Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, Infrastructure, Application, Attribute, Cart, Category, Order, Product, Review

feat: remove db, so release again
  migration/20250923113651.sql
  migration/20251016171830.sql
  migration/20251029032730.sql
  migration/20251103143412.sql
  migration/20251106130240.sql
  migration/20251129141039.sql
  migration/atlas.sum
Due: none

ci: fetch depth 0 to get latest commit
  .github/workflows/main.yaml
Due: none

ci: specific commit sha for generating migration
  .github/workflows/main.yaml
Due: none

ci: merge the migration in
  .github/workflows/main.yaml
Due: none

ci(main): package perm
  .github/workflows/main.yaml
Due: none

ci: fix oasdfasdf
  .github/workflows/main.yaml
Due: none

ci: fuck it
  .github/workflows/main.yaml
Due: none

build(migration): update migration [skip ci]
  migration/20251129154259.sql
  migration/atlas.sum
Due: none

fix: phawc
  database/schema.sql
  database/seed.sql
Due: none

build(migration): update migration [skip ci]
  migration/20251129155648.sql
  migration/atlas.sum
Due: none

chore(script): add script that only take those users to import
  script/keycloak-only-user.sh
Due: none

chore: use kc public url
  internal/delivery/http/handlerauthimpl.go
Due: Application

refactor: testing on going
  docs/testing/attribute.md
  internal/domain/attribute.go
  internal/domain/attributevalidator.go
  internal/domain/attributevalidator_test.go
  internal/domain/attributevalidator_test.go.bak
  internal/domain/cart.go
  internal/domain/cartvalidator.go
  internal/domain/order.go
  internal/domain/ordervalidator.go
  internal/domain/product.go
  internal/domain/productvalidator.go
Due: Business Logic

feat: test smallllllll
  internal/client/validate.go
  internal/domain/attribute.go
  internal/domain/attribute_test.go.bak
  internal/domain/attributevalidator.go
  internal/domain/attributevalidator_test.go
  internal/domain/attributevalidator_test.go.bak
  internal/domain/cart.go
  internal/domain/cartvalidator.go
  internal/domain/order.go
  internal/domain/ordervalidate.go
  internal/domain/ordervalidate_test.go
  internal/domain/ordervalidator.go
  internal/domain/product.go
  internal/domain/productvalidate.go
  internal/domain/productvalidate_test.go
  internal/domain/productvalidator.go
Due: Business Logic, Application

feat: setup attribute_test integration
  test/integration/application/attribute_test.go
Due: none

test(integration/attribute): AI made it for me
  justfile
  test/integration/application/attribute_test.go
  test/integration/component/containers.go
  test/integration/component/containersimages.go
Due: none

fix: use basepath if public path does not exist
  internal/delivery/http/handlerauthimpl.go
Due: Application

feat(keycloak): cors for backend
  terraform/keycloak/main.tf
  terraform/keycloak/terraform.tfvars
  terraform/keycloak/variables.tf
Due: none

feat: add cors middleware
  config/server.go
  go.mod
  go.sum
  internal/delivery/http/router.go
  internal/di/wire_gen.go
  mise.toml
Due: Application

fix(handlerauthimpl): allow origin to keycloak
  internal/delivery/http/handlerauthimpl.go
Due: Application

fix(handlerauthimpl): Access-Control-Allow-Credentials
  internal/delivery/http/handlerauthimpl.go
Due: Application

chore: go mod tidy
  go.mod
Due: none

Revert "feat: add cors middleware"
  config/server.go
  go.sum
  internal/delivery/http/router.go
  internal/di/wire_gen.go
  mise.toml
Due: Application

Revert "chore: go mod tidy"
  go.mod
Due: none

ci(main): build backend need check
  .github/workflows/main.yaml
Due: none

fix(auth): auth endpoint
  cmd/main.go
  docs/docs.go
  internal/delivery/http/handlerauthimpl.go
  terraform/keycloak/main.tf
Due: Application

chore: asdf
  terraform/keycloak/main.tf
Due: none

fix(auth): public keycloak
  config/server.go
  internal/delivery/http/handlerauthimpl.go
  mise.toml
Due: Application

chore(codecov): ohmmm missing component id
  .codecov.yml
Due: none

ci(main): test output the coverage file
  .github/workflows/main.yaml
Due: none

fix(order): status not status ids
  database/queries/order.sql
  docs/docs.go
  internal/delivery/http/handlerorderimpl.go
  internal/delivery/http/orderrequestdto.go
  internal/domain/orderrepository.go
  internal/infrastructure/repositorypostgres/order.go
  internal/infrastructure/repositorypostgres/sqlc/order.sql.go
  internal/infrastructure/repositorypostgres/sqlc/querier.go
Due: Business Logic, Infrastructure, Application

feat: add total page in pagination response
  docs/docs.go
  internal/application/helper.go
  internal/delivery/http/commonresponsedto.go
Due: Application

fix: codecov config exclude bak, and just for windows
  .codecov.yml
  justfile
Due: none

feat: persist image from temp
  internal/application/product.go
  internal/delivery/http/productrequestdto.go
Due: Application

chore: gen docs
  docs/docs.go
Due: none

chore(nvim): gen swag on dto file
  .lazy.lua
Due: none

refactor: some?
  database/queries/order.sql
  database/schema-temporary.sql
  internal/infrastructure/repositorypostgres/sqlc/order.sql.go
  internal/infrastructure/repositorypostgres/sqlc/querier.go
Due: Infrastructure

feat(keycloak): map city, local, convert to oidc
  keycloak/electricilies-realm-export.json
  terraform/keycloak/main.tf
Due: none

feat: map address, phone number to yayeah keycloak, swagger
  cmd/main.go
  docs/docs.go
  keycloak/electricilies-realm-export.json
  terraform/keycloak/main.tf
Due: Application

Path conditions:
  Business Logic: any of: internal/domain/, internal/service/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Infrastructure: any of: internal/infrastructure/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Application: any of: cmd/, internal/application/, internal/client/, internal/delivery/, internal/server/, pkg/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Attribute: any of: internal/*attribute*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Cart: any of: internal/*cart*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Category: any of: internal/*category*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Order: any of: internal/*order*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Product: any of: internal/*product*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
  Review: any of: internal/*review*, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/*.sql.go, **/wire.go
