Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, domain, Infrastructure, Application

fix: asd
  internal/application/attributeimpl.go
  internal/application/attributeparam.go
  internal/application/cart.go
  internal/application/cartparam.go
  internal/application/common.go
  internal/application/helper.go
  internal/application/orderparam.go
  internal/application/productparam.go
  internal/application/reviewparam.go
  internal/domain/attributerepository.go
  internal/domain/cartrepository.go
  internal/domain/categoryrepository.go
  internal/domain/common.go
  internal/domain/orderrepository.go
  internal/domain/productrepository.go
  internal/domain/reviewrepository.go
Due: Business Logic, domain, Application

fix: add product_id to endpoint which missing it
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/router.go
Due: none

chore: gen doc
  docs/docs.go
Due: none

feat: doing attribute
  internal/application/attributeimpl.go
  internal/application/common.go
  internal/application/helper.go
  internal/domain/attributeservice.go
  internal/domain/common.go
  internal/service/attribute.go
Due: Business Logic, domain, Application

fix(nvim): mockery move folder
  .nvim.lua
  internal/domain/attributerepository_mock.go
  internal/domain/cartrepository_mock.go
  internal/domain/categoryrepository_mock.go
  internal/domain/orderrepository_mock.go
  internal/domain/productrepository_mock.go
  internal/domain/reviewrepository_mock.go
Due: none

fix: swaggo yia yia
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/router.go
Due: none

feat(attribute): maybe done the app and service layer including implement service, not repo
  database/queries/attribute.sql
  internal/application/attributeimpl.go
  internal/application/attributeparam.go
  internal/application/productparam.go
  internal/domain/attribute.go
  internal/domain/attributerepository.go
  internal/domain/attributeservice.go
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/service/attribute.go
Due: Business Logic, domain, Infrastructure, Application

chore: delicious
  internal/application/attributeparam.go
  internal/delivery/http/error.go
  internal/delivery/http/handlerattribute.go
Due: Application

fix(handler/attribute): cool
  internal/application/attributeimpl.go
  internal/application/attributeparam.go
  internal/delivery/http/handlerattribute.go
Due: Application

fix: spell check
  internal/application/attributeimpl.go
  internal/application/helper.go
Due: Application

feat: add deletedAt for soft delete
  internal/domain/attribute.go
  internal/domain/product.go
Due: Business Logic, domain

fix(sqlc): prepare for DDD
  .sqlfluffignore
  database/queries/attribute.sql
  database/queries/cart.sql
  database/queries/category.sql
  database/queries/option.sql
  database/queries/order.sql
  database/queries/product.sql
  database/queries/review.sql
  database/queries/user.sql
  database/schema-temporary.sql
  database/schema.sql
  database/temporary-table/attribute.sql
  database/temporary-table/cart.sql
  database/temporary-table/option.sql
  database/temporary-table/product.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/cart.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgres/copyfrom.go
  internal/infrastructure/repository/postgres/db.go
  internal/infrastructure/repository/postgres/models.go
  internal/infrastructure/repository/postgres/option.sql.go
  internal/infrastructure/repository/postgres/order.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/review.sql.go
  internal/infrastructure/repository/postgres/user.sql.go
  sqlc.yaml
Due: Business Logic, Infrastructure

fix(review): just list
  internal/delivery/http/handlerreview.go
  internal/delivery/http/router.go
Due: none

chore(sqlc): query
  database/queries/attribute.sql
  database/queries/cart.sql
  database/queries/category.sql
  database/queries/product.sql
  database/queries/review.sql
  database/queries/user.sql
  internal/infrastructure/repository/postgres/review.sql.go
Due: Business Logic, Infrastructure

feat: add product_ids param when list attribute
  internal/application/attributeparam.go
  internal/delivery/http/handlerattribute.go
Due: Application

fix(swaggo): match it to trigger
  .lazy.lua
Due: none

style(handler): swaggo format
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercategory.go
  internal/delivery/http/handlerorder.go
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/handlerreview.go
Due: none

fix(justfile): let swaggo only format the file we need
  justfile
Due: none

chore: goin to helper
  internal/delivery/http/helper.go
Due: none

chore(handler): helper done
  internal/delivery/http/error.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/helper.go
Due: none

feat: implement application
  internal/application/cart.go
  internal/application/cartimpl.go
  internal/application/category.go
  internal/application/categoryimpl.go
  internal/application/orderimpl.go
  internal/application/review.go
  internal/application/reviewimpl.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercategory.go
  internal/delivery/http/handlerorder.go
  internal/delivery/http/handlerreview.go
Due: Application

fix(domain/repository): remove those remove
  internal/domain/attributerepository.go
  internal/domain/attributerepository_mock.go
  internal/domain/cartrepository.go
  internal/domain/cartrepository_mock.go
  internal/domain/categoryrepository.go
  internal/domain/categoryrepository_mock.go
  internal/domain/orderrepository.go
  internal/domain/orderrepository_mock.go
  internal/domain/productrepository.go
  internal/domain/productrepository_mock.go
  internal/domain/reviewrepository.go
  internal/domain/reviewrepository_mock.go
Due: Business Logic, domain

feat: implement service
  .lazy.lua
  internal/application/attributeimpl.go
  internal/application/cartimpl.go
  internal/application/categoryimpl.go
  internal/application/orderimpl.go
  internal/application/reviewimpl.go
  internal/di/wire.go
  internal/domain/cartservice.go
  internal/domain/categoryservice.go
  internal/domain/orderservice.go
  internal/domain/reviewservice.go
  internal/service/cart.go
  internal/service/category.go
  internal/service/order.go
  internal/service/review.go
Due: Business Logic, domain, Application

feat: emit interface
  internal/infrastructure/repository/postgres/querier.go
  sqlc.yaml
Due: Business Logic, Infrastructure

feat: inject
  internal/di/wire.go
  internal/infrastructure/repository/postgres/providequeries.go
Due: Business Logic, Infrastructure

fix: implement repository just panic for now, for going to inject to wire
  internal/application/cartimpl.go
  internal/application/categoryimpl.go
  internal/application/orderimpl.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercategory.go
  internal/delivery/http/handlerorder.go
  internal/delivery/http/handlerreview.go
  internal/infrastructure/repository/postgresattribute.go
  internal/infrastructure/repository/postgrescart.go
  internal/infrastructure/repository/postgrescategory.go
  internal/infrastructure/repository/postgresorder.go
  internal/infrastructure/repository/postgresproduct.go
  internal/infrastructure/repository/postgresreview.go
  internal/service/category.go
  internal/service/order.go
  internal/service/review.go
Due: Business Logic, Infrastructure, Application

fix(repository): new to provide, add trick lo
  internal/infrastructure/repository/postgresattribute.go
  internal/infrastructure/repository/postgrescart.go
  internal/infrastructure/repository/postgrescategory.go
  internal/infrastructure/repository/postgresorder.go
  internal/infrastructure/repository/postgresproduct.go
  internal/infrastructure/repository/postgresreview.go
Due: Business Logic, Infrastructure

feat: wire
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/infrastructure/repository/postgresreview.go
Due: Business Logic, Infrastructure

feat: AI rules
  .rules/000-architecture-overview.md
  .rules/001-structure.md
  .rules/002-domain-layer.md
  .rules/003-application-layer.md
  .rules/004-service-layer.md
  .rules/005-repository-layer.md
  .rules/006-testing.md
  .rules/007-coding-standards.md
  .rules/008-database-conventions.md
  .rules/100-business-logic.md
  .rules/CHEATSHEET.md
  .rules/README.md
  .vectorcode/vectorcode.include
Due: none

fix: AI do it
  IMPLEMENTATION_SUMMARY.md
  INTEGRATION_GUIDE.md
  PRODUCT_IMPLEMENTATION_SUMMARY.md
  SCOPE_NOTES.md
  internal/application/attributeimpl.go
  internal/application/categoryimpl.go
  internal/application/productimpl.go
  internal/application/productparam.go
  internal/application/reviewimpl.go
  internal/constant/redis.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/error.go
Due: Business Logic, domain, Infrastructure, Application

feat: doing
  .lazy.lua
  docs/docs.go
  internal/application/cartimpl.go
  internal/application/categoryimpl.go
  internal/application/reviewimpl.go
  internal/delivery/http/handlerattribute.go
  internal/domain/cartrepository.go
  internal/domain/cartrepository_mock.go
  internal/domain/categoryrepository.go
  internal/domain/categoryrepository_mock.go
  internal/domain/reviewrepository.go
  internal/domain/reviewrepository_mock.go
  internal/infrastructure/repository/postgresattribute.go
  internal/infrastructure/repository/postgrescategory.go
  internal/infrastructure/repository/postgresreview.go
Due: Business Logic, domain, Infrastructure, Application

feat: attribute
  database/queries/attribute.sql
  internal/application/attributeimpl.go
  internal/application/reviewimpl.go
  internal/domain/attributeservice.go
  internal/helper/ptr/deref.go
  internal/helper/ptr/to.go
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgresattribute.go
  internal/service/attribute.go
Due: Business Logic, domain, Infrastructure, Application

fix: no default for offset limit
  database/queries/attribute.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
Due: Business Logic, Infrastructure

fix: sql on going
  database/queries/attribute.sql
  database/queries/category.sql
  database/queries/option.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgres/option.sql.go
Due: Business Logic, Infrastructure

fix(sql): attribute count values
  database/queries/attribute.sql
  database/queries/order.sql
  database/queries/product.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/order.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/querier.go
Due: Business Logic, Infrastructure

fix: offset limit just defalut value
  database/queries/attribute.sql
  database/queries/category.sql
  database/queries/order.sql
  database/queries/product.sql
  database/queries/review.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgres/order.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/review.sql.go
Due: Business Logic, Infrastructure

fix(attribute): missing pagination
  database/queries/attribute.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
Due: Business Logic, Infrastructure

feat: imple postgresattribute
  docs/docs.go
  internal/application/attributeimpl.go
  internal/application/attributeparam.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlerorder.go
  internal/domain/attributerepository.go
  internal/domain/attributerepository_mock.go
  internal/infrastructure/repository/postgresattribute.go
Due: Business Logic, domain, Infrastructure, Application

fix: going
  database/seed-fake.sql
  docker/compose.yaml
  docker/volume/post-init.sql
  docs/docs.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercategory.go
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/handlerreview.go
  internal/delivery/http/helper.go
  internal/delivery/http/router.go
  internal/infrastructure/repository/postgrescart.go
  mise.toml
Due: Business Logic, Infrastructure

fix: fallback url
  internal/client/db.go
Due: none

Path conditions:
  Business Logic: any of: internal/domain/, internal/infrastructure/, internal/di/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  domain: any of: internal/domain/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  Infrastructure: any of: internal/infrastructure/, internal/di/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  Application: any of: internal/application/, internal/interface/, internal/server/, cmd/, pkg/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
