Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, domain, Infrastructure, Application

feat: patch not put
  docs/docs.go
  internal/interface/api/handler/attribute.go
  internal/interface/api/handler/cart.go
  internal/interface/api/handler/category.go
  internal/interface/api/handler/order.go
  internal/interface/api/handler/product.go
  internal/interface/api/handler/returnrequest.go
  internal/interface/api/handler/review.go
  internal/interface/api/handler/user.go
  internal/interface/api/router/router.go
Due: Application

fix: request to create product
  docs/docs.go
  internal/interface/api/request/product.go
Due: Application

chore: queries not query
  internal/infrastructure/user/repository.go
Due: Business Logic, Infrastructure

fix(cart): create item, not add
  internal/interface/api/handler/cart.go
  internal/interface/api/router/router.go
Due: Application

feat: too many
  docs/docs.go
  internal/application/cart.go
  internal/application/category.go
  internal/application/product.go
  internal/application/review.go
  internal/domain/attribute/repository.go
  internal/domain/attribute/repository_mock.go
  internal/domain/cart/repository.go
  internal/domain/cart/repository_mock.go
  internal/domain/category/repository.go
  internal/domain/category/repository_mock.go
  internal/domain/order/model.go
  internal/domain/order/repository.go
  internal/domain/product/model.go
  internal/domain/product/repository.go
  internal/domain/product/repository_mock.go
  internal/domain/review/model.go
  internal/domain/review/repository.go
  internal/domain/review/repository_mock.go
  internal/infrastructure/attribute/repository.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/category/repository.go
  internal/infrastructure/order/repository.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/review/repository.go
  internal/interface/api/handler/cart.go
  internal/interface/api/response/review.go
  internal/interface/api/router/router.go
Due: Business Logic, domain, Infrastructure, Application

fix: the more general example
  docs/docs.go
  internal/constant/error.go
  internal/interface/api/response/error.go
Due: Application

chore(pagination): add current number items of current page
  docs/docs.go
  internal/domain/param/pagination.go
  internal/interface/api/response/pagination.go
Due: Business Logic, domain, Application

fix(handler/cart): convert params to int in
  internal/interface/api/handler/cart.go
Due: Application

feat: get user cart
  docs/docs.go
  internal/application/user.go
  internal/domain/user/repository.go
  internal/interface/api/handler/user.go
  internal/interface/api/router/router.go
Due: Business Logic, domain, Application

feat: add payment
  docs/docs.go
  internal/interface/api/handler/payment.go
  internal/interface/api/request/payment.go
  internal/interface/api/response/payment.go
  internal/interface/api/router/router.go
Due: Application

feat: add to handler
  internal/interface/api/handler/payment.go
  internal/interface/api/router/router.go
Due: Application

refactor: asfsafasdfas
  .nvim.lua
  internal/client/db.go
  internal/client/gin.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/cart/repository_mock.go
  internal/domain/order/repository_mock.go
  internal/domain/product/repository_mock.go
  internal/domain/user/repository_mock.go
  internal/infrastructure/attribute/repository.go
  internal/infrastructure/category/repository.go
  internal/infrastructure/product/repository.go
  test/integration/application/product_integration_test.go
Due: Business Logic, Infrastructure

fix: empty function
  internal/domain/attribute/repository.go
  internal/domain/attribute/repository_mock.go
  internal/domain/cart/repository.go
  internal/domain/cart/repository_mock.go
  internal/domain/category/repository.go
  internal/domain/category/repository_mock.go
  internal/domain/order/repository.go
  internal/domain/order/repository_mock.go
  internal/domain/product/repository.go
  internal/domain/product/repository_mock.go
  internal/domain/review/repository.go
  internal/domain/review/repository_mock.go
  internal/domain/user/repository.go
  internal/domain/user/repository_mock.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/category/repository.go
  internal/infrastructure/order/repository.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/review/repository.go
  internal/infrastructure/user/mapper.go
  internal/infrastructure/user/repository.go
Due: Business Logic, domain, Infrastructure

fix: payments
  internal/interface/api/router/router.go
Due: Application

fix: return enum not id
  docs/docs.go
  internal/interface/api/response/payment.go
Due: Application

chore: gen docs
  docs/docs.go
Due: none

fix: rename
  internal/infrastructure/user/repository.go
Due: Business Logic, Infrastructure

style(golangci): warn the long line
  .golangci.yaml
Due: none

chore(product_integration): bruh it doesn't allow me to use no error directly
  test/integration/application/product_integration_test.go
Due: none

refactor: bind interface
  internal/application/attribute.go
  internal/application/cart.go
  internal/application/category.go
  internal/application/product.go
  internal/application/review.go
  internal/application/user.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/user/service.go
  internal/infrastructure/attribute/repository.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/category/repository.go
  internal/infrastructure/order/repository.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/review/repository.go
  internal/infrastructure/user/repository.go
  internal/interface/api/handler/attribute.go
  internal/interface/api/handler/auth.go
  internal/interface/api/handler/cart.go
  internal/interface/api/handler/category.go
  internal/interface/api/handler/health.go
  internal/interface/api/handler/order.go
  internal/interface/api/handler/payment.go
  internal/interface/api/handler/product.go
  internal/interface/api/handler/refund.go
  internal/interface/api/handler/returnrequest.go
  internal/interface/api/handler/review.go
  internal/interface/api/handler/user.go
  internal/interface/api/middleware/auth.go
  internal/interface/api/middleware/logging.go
  internal/interface/api/middleware/metric.go
  internal/interface/api/middleware/role.go
  internal/interface/api/router/router.go
Due: Business Logic, domain, Infrastructure, Application

fix: rename
  internal/infrastructure/attribute/repository.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/category/repository.go
  internal/infrastructure/order/repository.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/review/repository.go
  internal/infrastructure/user/repository.go
Due: Business Logic, Infrastructure

fix: rename query to db
  internal/infrastructure/product/repository.go
Due: Business Logic, Infrastructure

feat: add payment
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/payment/model.go
  internal/domain/payment/repository.go
  internal/domain/payment/repository_mock.go
  internal/infrastructure/payment/repository.go
Due: Business Logic, domain, Infrastructure

fix: rename to db
  test/integration/application/product_integration_test.go
Due: none

fix: not name field in interface
  internal/application/attribute.go
  internal/application/cart.go
  internal/application/category.go
  internal/application/payment.go
  internal/application/product.go
  internal/application/review.go
  internal/application/user.go
  internal/infrastructure/user/repository.go
  internal/interface/api/handler/attribute.go
  internal/interface/api/handler/cart.go
  internal/interface/api/handler/category.go
  internal/interface/api/handler/health.go
  internal/interface/api/handler/order.go
  internal/interface/api/handler/payment.go
  internal/interface/api/handler/product.go
  internal/interface/api/handler/refund.go
  internal/interface/api/handler/returnrequest.go
  internal/interface/api/handler/review.go
  internal/interface/api/handler/user.go
  internal/interface/api/middleware/role.go
  internal/interface/api/router/router.go
Due: Business Logic, Infrastructure, Application

feat: cart
  database/queries/cart.sql
  internal/helper/pointer.go
  internal/infrastructure/cart/mapper.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/persistence/postgres/cart.sql.go
Due: Business Logic, Infrastructure

fix(config): rename for more meaningful
  config/server.go
  internal/client/db.go
  internal/client/keycloak.go
  internal/client/redis.go
  internal/client/s3.go
  internal/di/wire_gen.go
  internal/helper/tokenmanager.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/user/repository.go
  internal/interface/api/handler/auth.go
  internal/interface/api/handler/health.go
  internal/interface/api/middleware/auth.go
  internal/interface/api/middleware/role.go
  internal/server/server.go
  pkg/logger/config.go
  test/integration/application/product_integration_test.go
Due: Business Logic, Infrastructure, Application

fix: add postfix impl
  internal/application/attribute.go
  internal/application/cart.go
  internal/application/category.go
  internal/application/product.go
  internal/application/review.go
  internal/application/user.go
  internal/client/db.go
  internal/client/redis.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/helper/tokenmanager.go
  internal/interface/api/handler/attribute.go
  internal/interface/api/handler/auth.go
  internal/interface/api/handler/cart.go
  internal/interface/api/handler/category.go
  internal/interface/api/handler/health.go
  internal/interface/api/handler/order.go
  internal/interface/api/handler/payment.go
  internal/interface/api/handler/product.go
  internal/interface/api/handler/refund.go
  internal/interface/api/handler/returnrequest.go
  internal/interface/api/handler/review.go
  internal/interface/api/handler/user.go
  internal/interface/api/middleware/auth.go
  internal/interface/api/middleware/logging.go
  internal/interface/api/middleware/metric.go
  internal/interface/api/middleware/role.go
  internal/server/server.go
Due: Business Logic, Infrastructure, Application

chore: love interface{}
  internal/infrastructure/product/mapper.go
Due: Business Logic, Infrastructure

chore(vectorcode): include exclude files
  .vectorcode/vectorcode.exclude
  .vectorcode/vectorcode.include
Due: none

feat(product): add logic in repo
  database/queries/option.sql
  database/queries/product.sql
  internal/constant/redis.go
  internal/domain/product/model.go
  internal/domain/product/repository.go
  internal/domain/product/repository_mock.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/mapper/error.go
  internal/infrastructure/mapper/postgres.go
  internal/infrastructure/persistence/postgres/option.sql.go
  internal/infrastructure/persistence/postgres/product.sql.go
  internal/infrastructure/product/mapper.go
  internal/infrastructure/product/repository.go
  internal/infrastructure/user/mapper.go
  internal/infrastructure/user/repository.go
Due: Business Logic, domain, Infrastructure

feat(keycloak): add address to id token
  keycloak/electricilies-realm-export.json
  terraform/keycloak/main.tf
Due: none

perf: create a fixed length slice
  internal/infrastructure/product/mapper.go
Due: Business Logic, Infrastructure

perf: pointer
  docs/docs.go
  internal/application/product.go
  internal/domain/attribute/model.go
  internal/domain/cart/model.go
  internal/domain/category/model.go
  internal/domain/order/model.go
  internal/domain/param/pagination.go
  internal/domain/payment/model.go
  internal/domain/product/model.go
  internal/domain/product/repository.go
  internal/domain/product/repository_mock.go
  internal/domain/review/model.go
  internal/infrastructure/cart/mapper.go
  internal/infrastructure/cart/repository.go
  internal/infrastructure/product/mapper.go
  internal/infrastructure/product/repository.go
  internal/interface/api/handler/attribute.go
  internal/interface/api/handler/cart.go
  internal/interface/api/handler/product.go
  internal/interface/api/handler/review.go
  internal/interface/api/request/attribute.go
  internal/interface/api/request/cart.go
  internal/interface/api/request/category.go
  internal/interface/api/request/param.go
  internal/interface/api/request/product.go
  internal/interface/api/request/review.go
  internal/interface/api/request/user.go
  internal/interface/api/response/cart.go
  internal/interface/api/response/category.go
  internal/interface/api/response/order.go
  internal/interface/api/response/pagination.go
  internal/interface/api/response/payment.go
  internal/interface/api/response/product.go
  internal/interface/api/response/review.go
Due: Business Logic, domain, Infrastructure, Application

chore: format
  internal/helper/tokenmanager.go
  internal/interface/api/middleware/auth.go
  internal/interface/api/middleware/role.go
Due: Application

chore: return an empty product list
  internal/infrastructure/product/mapper.go
Due: Business Logic, Infrastructure

fix: continue
  go.mod
  go.sum
  internal/application/category/querysuggestedcategory.go
  internal/domain/attribute.go
  internal/domain/attribute/attribute.go
  internal/domain/attribute/attributevalue.go
  internal/domain/attribute/repository.go
  internal/domain/attributerepository.go
  internal/domain/category.go
  internal/domain/category/category.go
  internal/domain/category/repository.go
  internal/domain/categoryrepository.go
  internal/domain/common/error.go
  internal/domain/common/pagination.go
  internal/domain/common/paramdelete.go
  internal/domain/common/parampagination.go
  internal/domain/common/paramsort.go
  internal/domain/error.go
  internal/domain/pagination/metadata.go
  internal/domain/param/delete.go
  internal/domain/param/pagination.go
  internal/domain/param/sort.go
  internal/domain/user.go
  internal/domain/userrepository.go
  internal/domain/userservice.go
  internal/helper/slice.go
Due: Business Logic, domain, Application

chore: get
  internal/domain/category/category.go
Due: Business Logic, domain

Path conditions:
  Business Logic: any of: internal/domain/, internal/infrastructure/, internal/di/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  domain: any of: internal/domain/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  Infrastructure: any of: internal/infrastructure/, internal/di/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
  Application: any of: internal/application/, internal/interface/, internal/server/, cmd/, pkg/, but not: test/, docs/, internal/**/*_test.go, internal/**/*_mock.go, **/wire.go
