Repository electricilies/backend: changes, and which Codecov flags are due for each by the changed paths.
All: Business Logic, domain, Infrastructure, Application

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 30%
        threshold: 10%
        informational: true
      business-logic:
        target: 60%
        threshold: 5%
        informational: true
        paths:
          - internal/domain/
          - internal/infrastructure/
          - internal/di/
    patch:
      informational: true
component_management:
  individual_components:
    - component_id: business-logic
      name: Business Logic
      paths:
        - internal/domain/
        - internal/infrastructure/
        - internal/di/
    - component_id: Domain
      name: domain
      paths:
        - internal/domain/
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - internal/infrastructure/
        - internal/di/
    - component_id: application
      name: Application
      paths:
        - internal/application/
        - internal/interface/
        - internal/server/
        - cmd/
        - pkg/
ignore:
  - test/
  - docs/
  - internal/**/*_test.go
  - internal/**/*_mock.go
  - "**/wire.go"

fix: cleanup error
  internal/delivery/http/error.go
  internal/domain/error.go
  internal/infrastructure/repositoryimpl/error.go
  internal/serviceimpl/error.go
Due: Business Logic, domain, Infrastructure

chore: go mod tidy
  go.mod
  go.sum
Due: none

chore: add error in struct of error
  internal/delivery/http/middlewareauthimpl.go
Due: none

chore: move role to service app
  internal/application/common.go
  internal/delivery/http/middlewareauthimpl.go
  internal/delivery/http/middlewarerole.go
  internal/delivery/http/middlewareroleimpl.go
Due: Application

feat: validate tag for order, and... abit tag
  context/go-validator.md
  docs/docs.go
  internal/domain/attribute.go
  internal/domain/cart.go
  internal/domain/order.go
Due: Business Logic, domain

feat(domain): validate more
  internal/domain/attribute.go
  internal/domain/cart.go
  internal/domain/category.go
  internal/domain/payment.go
  internal/domain/product.go
  internal/domain/review.go
  internal/domain/user.go
Due: Business Logic, domain

style: format struct tag
  internal/domain/attribute.go
  internal/domain/cart.go
  internal/domain/cartparam.go
  internal/domain/category.go
  internal/domain/order.go
  internal/domain/orderparam.go
  internal/domain/payment.go
  internal/domain/paymentparam.go
  internal/domain/product.go
  internal/domain/productparam.go
  internal/domain/review.go
  internal/domain/reviewparam.go
  internal/domain/user.go
Due: Business Logic, domain

fix: change min max to lte gte
  internal/application/common.go
  internal/client/validate.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/attribute.go
  internal/domain/category.go
  internal/domain/order.go
  internal/domain/product.go
  internal/domain/productvalidator.go
  internal/domain/review.go
  internal/domain/reviewparam.go
  internal/domain/user.go
Due: Business Logic, domain, Infrastructure, Application

feat: merge order and payment
  internal/application/payment.go
  internal/application/paymentparam.go
  internal/delivery/http/handlerpayment.go
  internal/delivery/http/router.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/repository/payment.go
  internal/serviceimpl/payment.go
Due: Business Logic, Infrastructure, Application

fix(database/sqlc): update queries merge payment to order, adding count
  database/queries/attribute.sql
  database/queries/category.sql
  database/queries/order.sql
  database/queries/payment.sql
  database/queries/product.sql
  database/queries/review.sql
  database/schema.sql
  database/seed.sql
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgres/models.go
  internal/infrastructure/repository/postgres/order.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/review.sql.go
Due: Business Logic, Infrastructure

feat: merge order and payment
  internal/domain/order.go
  internal/domain/orderparam.go
  internal/domain/payment.go
  internal/domain/paymentparam.go
  internal/domain/paymentservice.go
  internal/repository/order.go
Due: Business Logic, domain

chore: heeh
  internal/domain/order.go
Due: Business Logic, domain

style(format): wiregen
  internal/di/wire_gen.go
Due: Business Logic, Infrastructure

feat: doing
  .lazy.lua
  internal/domain/orderparam.go
  internal/repository/order.go
  internal/repository/product.go
Due: Business Logic, domain

fix(docs): generate sagger
  docs/docs.go
Due: none

fix(nvim): mockery on save not using conform
  .lazy.lua
  .nvim.lua
  internal/repository/product.go
Due: none

feat(repository): gen mock
  .mockery.yml
  internal/repository/attribute_mock.go
  internal/repository/cart_mock.go
  internal/repository/category_mock.go
  internal/repository/order_mock.go
  internal/repository/product_mock.go
  internal/repository/review_mock.go
  internal/repository/user_mock.go
Due: none

fix: go mod tidy
  go.mod
Due: none

fix(sqlc): move the filename
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/cart.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgres/db.go
  internal/infrastructure/repository/postgres/models.go
  internal/infrastructure/repository/postgres/option.sql.go
  internal/infrastructure/repository/postgres/order.sql.go
  internal/infrastructure/repository/postgres/payment.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/review.sql.go
  internal/infrastructure/repository/postgres/user.sql.go
  internal/infrastructure/repositoryimpl/postgres/attribute.sql.go
  internal/infrastructure/repositoryimpl/postgres/category.sql.go
  internal/infrastructure/repositoryimpl/postgres/models.go
  internal/infrastructure/repositoryimpl/postgres/order.sql.go
  internal/infrastructure/repositoryimpl/postgres/payment.sql.go
  internal/infrastructure/repositoryimpl/postgres/product.sql.go
  internal/infrastructure/repositoryimpl/postgres/review.sql.go
  sqlc.yaml
Due: Business Logic, Infrastructure

style: format
  internal/delivery/http/router.go
Due: none

fix(context): regen the msdfasdfas
  context/go-validator.md
Due: none

fix(repo): adding count and O n+1
  internal/repository/attribute.go
  internal/repository/attribute_mock.go
  internal/repository/cart.go
  internal/repository/cart_mock.go
  internal/repository/category.go
  internal/repository/category_mock.go
  internal/repository/order.go
  internal/repository/order_mock.go
  internal/repository/review.go
  internal/repository/review_mock.go
Due: none

chore(user)!: remove user only leave the id here
  internal/domain/user.go
  internal/repository/user.go
  internal/repository/user_mock.go
Due: Business Logic, domain

chore: gen
  .golangci.yaml
  docs/docs.go
  internal/di/wire.go
  internal/di/wire_gen.go
  justfile
Due: Business Logic, Infrastructure

chore: mostly done
  internal/domain/productservice.go
  internal/repository/product.go
  internal/repository/product_mock.go
  internal/serviceimpl/product.go
Due: Business Logic, domain

feat(service): implement product
  internal/domain/productservice.go
  internal/serviceimpl/product.go
Due: Business Logic, domain

fix(database): change it serial to uuid
  database/init.sql
  database/queries/attribute.sql
  database/queries/cart.sql
  database/queries/option.sql
  database/queries/order.sql
  database/queries/product.sql
  database/queries/review.sql
  database/queries/user.sql
  database/schema.sql
  internal/infrastructure/repositoryimpl/postgres/attribute.sql.go
  internal/infrastructure/repositoryimpl/postgres/cart.sql.go
  internal/infrastructure/repositoryimpl/postgres/category.sql.go
  internal/infrastructure/repositoryimpl/postgres/models.go
  internal/infrastructure/repositoryimpl/postgres/option.sql.go
  internal/infrastructure/repositoryimpl/postgres/order.sql.go
  internal/infrastructure/repositoryimpl/postgres/product.sql.go
  internal/infrastructure/repositoryimpl/postgres/review.sql.go
  internal/infrastructure/repositoryimpl/postgres/user.sql.go
  script/int-to-uuid.sh
Due: Business Logic, Infrastructure

feat: move repository to domain
  internal/domain/attribute.go
  internal/domain/attributeparam.go
  internal/domain/attributerepository.go
  internal/domain/cart.go
  internal/domain/cartrepository.go
  internal/domain/category.go
  internal/domain/categoryparam.go
  internal/domain/categoryrepository.go
  internal/domain/order.go
  internal/domain/orderparam.go
  internal/domain/orderrepository.go
  internal/domain/product.go
  internal/domain/productparam.go
  internal/domain/productrepository.go
  internal/domain/review.go
  internal/domain/reviewparam.go
  internal/domain/reviewrepository.go
  internal/domain/user.go
  internal/infrastructure/repository/error.go
  internal/infrastructure/repository/mapper.go.bak
  internal/infrastructure/repository/postgresattribute.go.bak
  internal/infrastructure/repository/postgrescategory.go.bak
  internal/repository/attribute_mock.go
  internal/repository/cart_mock.go
  internal/repository/category_mock.go
  internal/repository/order_mock.go
  internal/repository/product_mock.go
  internal/repository/review_mock.go
Due: Business Logic, domain, Infrastructure

chore(sqlc): move
  internal/infrastructure/repository/postgres/attribute.sql.go
  internal/infrastructure/repository/postgres/cart.sql.go
  internal/infrastructure/repository/postgres/category.sql.go
  internal/infrastructure/repository/postgres/db.go
  internal/infrastructure/repository/postgres/models.go
  internal/infrastructure/repository/postgres/option.sql.go
  internal/infrastructure/repository/postgres/order.sql.go
  internal/infrastructure/repository/postgres/product.sql.go
  internal/infrastructure/repository/postgres/review.sql.go
  internal/infrastructure/repository/postgres/user.sql.go
  internal/serviceimpl/attribute.go
  internal/serviceimpl/cart.go
  internal/serviceimpl/category.go
  internal/serviceimpl/order.go
  internal/serviceimpl/product.go
  internal/serviceimpl/review.go
  sqlc.yaml
Due: Business Logic, Infrastructure

refactor: move
  internal/application/attributeparam.go
  internal/application/cartparam.go
  internal/application/categoryparam.go
  internal/application/orderparam.go
  internal/application/productparam.go
  internal/application/reviewparam.go
  internal/client/db.go
  internal/di/wire.go
  internal/domain/attributeparam.go
  internal/domain/categoryparam.go
  internal/domain/orderparam.go
  internal/domain/productparam.go
  internal/domain/reviewparam.go
Due: Business Logic, domain, Application

chore: restore service
  internal/service/attribute.go
  internal/service/cart.go
  internal/service/category.go
  internal/service/order.go
  internal/service/product.go
  internal/service/review.go
Due: none

refactor: asdf
  internal/application/attribute.go
  internal/application/cart.go
  internal/application/category.go
  internal/application/order.go
  internal/application/product.go
  internal/application/review.go
  internal/di/wire.go
  internal/di/wire_gen.go
  internal/domain/attributeservice.go
  internal/domain/cartservice.go
  internal/domain/categoryservice.go
  internal/domain/orderservice.go
  internal/domain/productservice.go
  internal/domain/productvalidator.go
  internal/domain/reviewservice.go
  internal/service/attribute.go
  internal/service/cart.go
  internal/service/category.go
  internal/service/order.go
  internal/service/product.go
  internal/service/review.go
Due: Business Logic, domain, Infrastructure, Application

feat: asdf
  internal/delivery/http/error.go
  internal/domain/attributeservice.go
  internal/domain/error.go
  internal/service/attribute.go
Due: Business Logic, domain

fix(database/sql): all to uuid
  database/schema.sql
  database/seed-fake.sql
  database/seed.sql
Due: none

chore: remove no need script
  script/int-to-uuid.sh
Due: none

feat: implement service
  internal/application/productparam.go
  internal/domain/attribute.go
  internal/domain/attributeservice.go
  internal/domain/cart.go
  internal/domain/cartservice.go
  internal/domain/categoryservice.go
  internal/domain/order.go
  internal/domain/orderservice.go
  internal/domain/product.go
  internal/domain/productservice.go
  internal/domain/review.go
  internal/domain/reviewservice.go
  internal/service/attribute.go
  internal/service/cart.go
  internal/service/category.go
  internal/service/order.go
  internal/service/product.go
  internal/service/review.go
Due: Business Logic, domain, Application

fix: didk
  internal/domain/attribute.go
  internal/domain/attributerepository.go
  internal/domain/cart.go
  internal/domain/cartrepository.go
  internal/domain/cartservice.go
  internal/domain/category.go
  internal/domain/categoryrepository.go
  internal/domain/order.go
  internal/domain/orderrepository.go
  internal/domain/orderservice.go
  internal/domain/product.go
  internal/domain/productrepository.go
  internal/domain/productservice.go
  internal/domain/review.go
  internal/domain/reviewrepository.go
  internal/domain/reviewservice.go
  internal/service/cart.go
  internal/service/order.go
  internal/service/product.go
  internal/service/review.go
Due: Business Logic, domain

feat: mockery
  .mockery.yml
  internal/domain/attributerepository_mock.go
  internal/domain/cartrepository_mock.go
  internal/domain/categoryrepository_mock.go
  internal/domain/orderrepository_mock.go
  internal/domain/productrepository_mock.go
  internal/domain/reviewrepository_mock.go
Due: none

feat(application/attribute): add
  internal/application/attributeimpl.go
Due: Application

feat(swagger): add endpoint
  docs/docs.go
  internal/delivery/http/handlerattribute.go
  internal/delivery/http/handlercart.go
  internal/delivery/http/handlercategory.go
  internal/delivery/http/handlerorder.go
  internal/delivery/http/handlerproduct.go
  internal/delivery/http/handlerreview.go
  internal/delivery/http/router.go
Due: none
